<?php if ($this->pageCount) : ?>

    <?php
    $action = '';
    if (isset($this->action) && !empty($this->action)) {
        $action = '/' . $this->action;
    }
    $search = '';
    if (!empty($this->search)) {
        $search = '&search=' . $this->search;
    }
    $activity = '';
    if (!empty($this->activity)) {
        $activity = '&activity=' . $this->activity;
    }
    $type = '';
    if (!empty($this->type)) {
        $type = '&type=' . $this->type;
    }
    $id = '';
    if (!empty($this->id)) {
        $id = '&id=' . $this->id;
    }

    $planDate = '';
    if (!empty($this->planDate)) {
        $planDate = '&plan_date=' . $this->planDate;
    }
    $planDateTo = '';
    if (!empty($this->planDateTo)) {
        $planDateTo = '&plan_date_to=' . $this->planDateTo;
    }
    $actualDate = '';
    if (!empty($this->actualDate)) {
        $actualDate = '&actual_date=' . $this->actualDate;
    }
    $actualDateTo = '';
    if (!empty($this->actualDateTo)) {
        $actualDateTo = '&actual_date_to=' . $this->actualDateTo;
    }

    ?>




    <div class="pagination-content">
        <ul class="pagination">
            <!-- Previous page link -->
            <?php if (isset($this->previous)) : ?>
                <!-- <li>
                <a class="waves-effect" href="<?php echo $this->url($this->route) . $action; ?>?page=<?php echo $this->first; ?> <?php echo $search . $type . $activity . $id . $planDate . $planDateTo . $actualDate . $actualDateTo; ?>">
                    <i class="material-icons">first_page</i>
                </a>
            </li> -->
                <li>
                    <a class="waves-effect" href="<?php echo $this->url($this->route) . $action; ?>?page=<?php echo $this->previous; ?><?php echo $search . $type . $activity . $id . $planDate . $planDateTo . $actualDate . $actualDateTo; ?>">
                        <i class="material-icons">chevron_left</i>
                    </a>
                </li>
            <?php else : ?>
                <!-- <li class="disabled">
                <a href="#">
                    <i class="material-icons">first_page</i>
                </a>
            </li> -->
                <li class="disabled">
                    <a href="#">
                        <i class="material-icons">chevron_left</i>
                    </a>
                </li>
            <?php endif; ?>

            <!-- Numbered page links -->
            <?php foreach ($this->pagesInRange as $page) : ?>
                <?php if ($page != $this->current) : ?>
                    <li>
                        <a class="waves-effect" href="<?php echo $this->url($this->route) . $action; ?>?page=<?php echo $page; ?><?php echo $search . $type . $activity . $id . $planDate . $planDateTo . $actualDate . $actualDateTo; ?>">
                            <?php echo $page; ?>
                        </a>
                    </li>
                <?php else : ?>
                    <li class="active">
                        <a class="waves-effect" href="#"><?php echo $page; ?></a>
                    </li>
                <?php endif; ?>
            <?php endforeach; ?>

            <!-- Next page link -->
            <?php if (isset($this->next)) : ?>
                <li>
                    <a class="waves-effect" href="<?php echo $this->url($this->route) . $action; ?>?page=<?php echo $this->next; ?><?php echo $search . $type . $activity . $id . $planDate . $planDateTo . $actualDate . $actualDateTo; ?>">
                        <i class="material-icons">chevron_right</i>
                    </a>
                </li>
                <!-- <li>
                <a class="waves-effect" href="<?php echo $this->url($this->route) . $action; ?>?page=<?php echo $this->last; ?><?php echo $search . $type . $activity . $id . $planDate . $planDateTo . $actualDate . $actualDateTo; ?>">
                    <i class="material-icons">last_page</i>
                </a>
            </li> -->
            <?php else : ?>
                <li class="disabled">
                    <a href="#">
                        <i class="material-icons">chevron_right</i>
                    </a>
                </li>
                <!-- <li class="disabled">
                <a href="#">
                    <i class="material-icons">last_page</i>
                </a>
            </li> -->
            <?php endif; ?>
        </ul>
    </div>
<?php endif; ?>