<?php

$chartData = [];

//N
$region = number_format(($this->region[9]['topo_actual'] / $this->region[9]['total']) * 100, 2);
$remain = 100 - $region;
$chartData['N']['topo'] = ['progress' => $region, 'remain' => $remain];

$region = number_format(($this->region[9]['ortho_actual'] / $this->region[9]['total']) * 100, 2);
$remain = 100 - $region;
$chartData['N']['ortho'] = ['progress' => $region, 'remain' => $remain];

$region = number_format(($this->region[9]['gis_actual'] / $this->region[9]['total']) * 100, 2);
$remain = 100 - $region;
$chartData['N']['gis'] = ['progress' => $region, 'remain' => $remain];

//EN
$region = number_format(($this->region[13]['topo_actual'] / $this->region[13]['total']) * 100, 2);
$remain = 100 - $region;
$chartData['EN']['topo'] = ['progress' => $region, 'remain' => $remain];

$region = number_format(($this->region[13]['ortho_actual'] / $this->region[13]['total']) * 100, 2);
$remain = 100 - $region;
$chartData['EN']['ortho'] = ['progress' => $region, 'remain' => $remain];

$region = number_format(($this->region[13]['gis_actual'] / $this->region[13]['total']) * 100, 2);
$remain = 100 - $region;
$chartData['EN']['gis'] = ['progress' => $region, 'remain' => $remain];

//C
$region = number_format(($this->region[10]['topo_actual'] / $this->region[10]['total']) * 100, 2);
$remain = 100 - $region;
$chartData['C']['topo'] = ['progress' => $region, 'remain' => $remain];

$region = number_format(($this->region[10]['ortho_actual'] / $this->region[10]['total']) * 100, 2);
$remain = 100 - $region;
$chartData['C']['ortho'] = ['progress' => $region, 'remain' => $remain];

$region = number_format(($this->region[10]['gis_actual'] / $this->region[10]['total']) * 100, 2);
$remain = 100 - $region;
$chartData['C']['gis'] = ['progress' => $region, 'remain' => $remain];

//ES
$region = number_format(($this->region[12]['topo_actual'] / $this->region[12]['total']) * 100, 2);
$remain = 100 - $region;
$chartData['ES']['topo'] = ['progress' => $region, 'remain' => $remain];

$region = number_format(($this->region[12]['ortho_actual'] / $this->region[12]['total']) * 100, 2);
$remain = 100 - $region;
$chartData['ES']['ortho'] = ['progress' => $region, 'remain' => $remain];

$region = number_format(($this->region[12]['gis_actual'] / $this->region[12]['total']) * 100, 2);
$remain = 100 - $region;
$chartData['ES']['gis'] = ['progress' => $region, 'remain' => $remain];

//S
$region = number_format(($this->region[11]['topo_actual'] / $this->region[11]['total']) * 100, 2);
$remain = 100 - $region;
$chartData['S']['topo'] = ['progress' => $region, 'remain' => $remain];

$region = number_format(($this->region[11]['ortho_actual'] / $this->region[11]['total']) * 100, 2);
$remain = 100 - $region;
$chartData['S']['ortho'] = ['progress' => $region, 'remain' => $remain];

$region = number_format(($this->region[11]['gis_actual'] / $this->region[11]['total']) * 100, 2);
$remain = 100 - $region;
$chartData['S']['gis'] = ['progress' => $region, 'remain' => $remain];

?>

<style>
    .progress {
        height: 15px;
    }

    .progress .progress-bar {
        line-height: 15px;
    }

    .overall-23-road .road {
        margin-bottom: 0px !important;
    }

    @media print {
        .page_break {
            page-break-after: always;
        }
    }
</style>
<div class="card">
    <div class="header">
        <h2>
            <?= $this->translate('report'); ?>
            <small>ผลงานสะสมถึงวันที <?= date('d / M / Y') ?></small>
        </h2>

        <ul class="header-dropdown m-r--5 hidden-print">
            <li class="dropdown">
                <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                    <i class="material-icons">more_vert</i>
                </a>
                <ul class="dropdown-menu pull-right">
                    <li data-toggle="modal" data-target="#edit-modal">
                        <a href="javascript:print()" class=" waves-effect waves-block"><i class="material-icons">printer</i> <?= $this->translate('print') ?></a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
    <div class="body">

        <table class="table table-striped">
            <thead>
                <tr>
                    <th width="50">#</th>
                    <th><?= $this->translate('type') ?></th>
                    <th><?= $this->translate('activity') ?></th>
                    <th class="align-center">พื้นที่ทั้งหมด<br />(ไร่)</th>
                    <th class="align-center">พื้นที่ตามแผน<br />(ไร่)</th>
                    <th class="align-center">แผนงาน<br />%</th>
                    <th class="align-center">พื้นที่ทำได้จริง<br />(ไร่)</th>
                    <th class="align-center">ดำเนินการจริง<br />%</th>
                </tr>
            </thead>
            <tbody>

                <?php
                $no = 0;
                $chart = [];
                foreach ($this->type as $row) :
                    $no++;

                    $chart[] = ['all'];
                ?>

                    <tr>
                        <td><?= $no ?>.</td>
                        <td><?= $this->escapeHtml($row['plan_type']); ?></td>
                        <td><?= $this->escapeHtml($row['plan_activity']); ?></td>
                        <td align="right"><?= number_format($row['all'], 2); ?></td>
                        <td align="right"><?= number_format($row['plan'], 2); ?></td>
                        <td align="right"><?= number_format(($row['plan'] / $row['all']) * 100, 2); ?>%</td>
                        <td align="right"><?= number_format($row['actual'], 2); ?></td>
                        <td align="right"><?= number_format(($row['actual'] / $row['all']) * 100, 2); ?>%</td>

                    </tr>

                <?php endforeach; ?>
            </tbody>
        </table>

    </div>
</div>

<div class="card">
    <div class="header">
        <h2>
            <?= $this->translate('23 สายทาง แบ่งตามประเภทงาน'); ?>
        </h2>

    </div>
    <div class="body">

        <canvas id="bar_chart" height="125"></canvas>


    </div>
</div>

<div class="page_break"></div>

<div class="card">
    <div class="header">
        <h2>
            <?= $this->translate('23 สายทาง ภาพรวม'); ?>
        </h2>

    </div>
    <div class="body">
        <div class="overall-23-road">
            <?php
            $no = 0;
            foreach ($this->road as $row) {
                $no++;

                $progress = 0;
                if ($row['total']) {
                    $progress = number_format(($row['actual'] / $row['total']) * 100, 2);
                }

            ?>
                <div class="row">
                    <div class="road col-sm-4 text-right">
                        <?= $no . '. ' . $row['plan_station_road'] ?>
                    </div>
                    <div class="road col-sm-8">
                        <div class="progress">
                            <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="<?= $progress ?>" aria-valuemin="0" aria-valuemax="100" style="width: <?= $progress ?>%;">
                                <?= $progress ?>%
                            </div>
                            <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="<?= 100 - $progress ?>" aria-valuemin="0" aria-valuemax="100" style="width: <?= 100 - $progress ?>%;">

                            </div>
                        </div>
                    </div>

                </div>

            <?php
            }
            ?>

        </div>
    </div>
</div>

<div class="page_break"></div>

<div class="row">

    <div class="col-xs-6">
        <div class="card">
            <div class="header">
                <h2>
                    <?= $this->translate('ภาคเหนือ'); ?>
                </h2>

            </div>
            <div class="body">
                <div class="row">
                    <div class="col-xs-4">
                        <canvas id="topo_pie_chart_north" height="300"></canvas>
                    </div>
                    <div class="col-xs-4">
                        <canvas id="ortho_pie_chart_north" height="300"></canvas>
                    </div>
                    <div class="col-xs-4">
                        <canvas id="gis_pie_chart_north" height="300"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-xs-6">
        <div class="card">
            <div class="header">
                <h2>
                    <?= $this->translate('อีสานบน'); ?>
                </h2>

            </div>
            <div class="body">
                <div class="row">
                    <div class="col-xs-4">
                        <canvas id="topo_pie_chart_east_north" height="300"></canvas>
                    </div>
                    <div class="col-xs-4">
                        <canvas id="ortho_pie_chart_east_north" height="300"></canvas>
                    </div>
                    <div class="col-xs-4">
                        <canvas id="gis_pie_chart_east_north" height="300"></canvas>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>


<div class="row">
    <div class="col-xs-6">
        <div class="card">
            <div class="header">
                <h2>
                    <?= $this->translate('ภาคกลาง'); ?>
                </h2>

            </div>
            <div class="body">

                <div class="row">
                    <div class="col-xs-4">
                        <canvas id="topo_pie_chart_center" height="300"></canvas>
                    </div>
                    <div class="col-xs-4">
                        <canvas id="ortho_pie_chart_center" height="300"></canvas>
                    </div>
                    <div class="col-xs-4">
                        <canvas id="gis_pie_chart_center" height="300"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-xs-6">
        <div class="card">
            <div class="header">
                <h2>
                    <?= $this->translate('ภาคอีสานล่าง'); ?>
                </h2>

            </div>
            <div class="body">

                <div class="row">
                    <div class="col-xs-4">
                        <canvas id="topo_pie_chart_east_south" height="300"></canvas>
                    </div>
                    <div class="col-xs-4">
                        <canvas id="ortho_pie_chart_east_south" height="300"></canvas>
                    </div>
                    <div class="col-xs-4">
                        <canvas id="gis_pie_chart_east_south" height="300"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-xs-6">
        <div class="card">
            <div class="header">
                <h2>
                    <?= $this->translate('ภาคใต้'); ?>
                </h2>

            </div>
            <div class="body">

                <div class="row">
                    <div class="col-xs-4">
                        <canvas id="topo_pie_chart_south" height="300"></canvas>
                    </div>
                    <div class="col-xs-4">
                        <canvas id="ortho_pie_chart_south" height="300"></canvas>
                    </div>
                    <div class="col-xs-4">
                        <canvas id="gis_pie_chart_south" height="300"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<?php
$road_name = [];
$road_topo = [];
$road_ortho = [];
$road_gis = [];

foreach ($this->roadType as $key => $row) {

    $road_name[$row['plan_station_road']] = '"' . $row['plan_station_road'] . '"';

    $percent = 0;
    if ($row['total']) {
        $percent = number_format(($row['actual'] / $row['total']) * 100, 2);
    }

    if ($row['plan_type'] == 'topo') {
        $road_topo[] = $percent;
    }
    if ($row['plan_type'] == 'ortho') {
        $road_ortho[] = $percent;
    }
    if ($row['plan_type'] == 'gis') {
        $road_gis[] = $percent;
    }
}

?>

<!-- Chart Plugins Js -->
<script src="<?php echo $this->basePath('template/plugins/chartjs/Chart.bundle.js'); ?>"></script>

<script>
    $(function() {

        new Chart(document.getElementById("bar_chart").getContext("2d"), {
            type: 'bar',
            data: {
                labels: [<?= implode(',', $road_name) ?>],
                datasets: [{
                    label: "Topo",
                    borderWidth: 1,
                    borderColor: 'rgba(255, 193, 7, 1)',
                    data: [<?= implode(',', $road_topo) ?>],
                    backgroundColor: 'rgba(255, 193, 7, 0.7)'
                }, {
                    label: "Ortho",
                    borderWidth: 1,
                    borderColor: 'rgba(233, 30, 99, 1)',
                    data: [<?= implode(',', $road_ortho) ?>],
                    backgroundColor: 'rgba(233, 30, 99, 0.7)'
                }, {
                    label: "GIS",
                    borderWidth: 1,
                    borderColor: 'rgba(139, 195, 74, 1)',
                    data: [<?= implode(',', $road_gis) ?>],
                    backgroundColor: 'rgba(139, 195, 74, 0.7)'
                }]
            },
            options: {
                responsive: true,
                legend: {
                    position: 'bottom',
                },
                hover: {
                    mode: 'label'
                },
                scales: {
                    xAxes: [{
                        display: true,
                        scaleLabel: {
                            display: true,
                            labelString: 'Month'
                        }
                    }],
                    yAxes: [{
                        display: true,
                        ticks: {
                            beginAtZero: true,
                            steps: 10,
                            stepValue: 5,
                            max: 100
                        }
                    }]
                },
                title: {
                    display: false,
                    text: ''
                }
            }
        });

        //north
        new Chart(document.getElementById("topo_pie_chart_north").getContext("2d"), {
            type: 'doughnut',
            data: {
                datasets: [{
                    data: [<?= $chartData['N']['topo']['progress'] ?>, <?= $chartData['N']['topo']['remain'] ?>],
                    backgroundColor: [
                        "rgb(139, 195, 74)",
                        "rgb(233, 30, 99)"
                    ],
                }],
                labels: [
                    "แล้วเสร็จ",
                    "คงเหลือ"
                ]
            },
            options: {
                title: {
                    display: true,
                    text: 'Topo <?= $chartData['N']['topo']['progress'] ?>%'
                },
                legend: false
            }

        });
        new Chart(document.getElementById("ortho_pie_chart_north").getContext("2d"), {
            type: 'doughnut',
            data: {
                datasets: [{
                    data: [<?= $chartData['N']['ortho']['progress'] ?>, <?= $chartData['N']['ortho']['remain'] ?>],
                    backgroundColor: [
                        "rgb(139, 195, 74)",
                        "rgb(233, 30, 99)"
                    ],
                }],
                labels: [
                    "แล้วเสร็จ",
                    "คงเหลือ"
                ]
            },
            options: {
                title: {
                    display: true,
                    text: 'Ortho <?= $chartData['N']['ortho']['progress'] ?>%'
                },
                legend: false
            }

        });
        new Chart(document.getElementById("gis_pie_chart_north").getContext("2d"), {
            type: 'doughnut',
            data: {
                datasets: [{
                    data: [<?= $chartData['N']['gis']['progress'] ?>, <?= $chartData['N']['gis']['remain'] ?>],
                    backgroundColor: [
                        "rgb(139, 195, 74)",
                        "rgb(233, 30, 99)"
                    ],
                }],
                labels: [
                    "แล้วเสร็จ",
                    "คงเหลือ"
                ]
            },
            options: {
                title: {
                    display: true,
                    text: 'GIS <?= $chartData['N']['gis']['progress'] ?>%'
                },
                legend: false
            }

        });

        //east-north
        new Chart(document.getElementById("topo_pie_chart_east_north").getContext("2d"), {
            type: 'doughnut',
            data: {
                datasets: [{
                    data: [<?= $chartData['EN']['topo']['progress'] ?>, <?= $chartData['EN']['topo']['remain'] ?>],
                    backgroundColor: [
                        "rgb(139, 195, 74)",
                        "rgb(233, 30, 99)"
                    ],
                }],
                labels: [
                    "แล้วเสร็จ",
                    "คงเหลือ"
                ]
            },
            options: {
                title: {
                    display: true,
                    text: 'Topo <?= $chartData['EN']['topo']['progress'] ?>%'
                },
                legend: false
            }

        });
        new Chart(document.getElementById("ortho_pie_chart_east_north").getContext("2d"), {
            type: 'doughnut',
            data: {
                datasets: [{
                    data: [<?= $chartData['EN']['ortho']['progress'] ?>, <?= $chartData['EN']['ortho']['remain'] ?>],
                    backgroundColor: [
                        "rgb(139, 195, 74)",
                        "rgb(233, 30, 99)"
                    ],
                }],
                labels: [
                    "แล้วเสร็จ",
                    "คงเหลือ"
                ]
            },
            options: {
                title: {
                    display: true,
                    text: 'Ortho <?= $chartData['EN']['ortho']['progress'] ?>%'
                },
                legend: false
            }

        });
        new Chart(document.getElementById("gis_pie_chart_east_north").getContext("2d"), {
            type: 'doughnut',
            data: {
                datasets: [{
                    data: [<?= $chartData['EN']['gis']['progress'] ?>, <?= $chartData['EN']['gis']['remain'] ?>],
                    backgroundColor: [
                        "rgb(139, 195, 74)",
                        "rgb(233, 30, 99)"
                    ],
                }],
                labels: [
                    "แล้วเสร็จ",
                    "คงเหลือ"
                ]
            },
            options: {
                title: {
                    display: true,
                    text: 'GIS <?= $chartData['EN']['gis']['progress'] ?>%'
                },
                legend: false
            }

        });


        //center
        new Chart(document.getElementById("topo_pie_chart_center").getContext("2d"), {
            type: 'doughnut',
            data: {
                datasets: [{
                    data: [<?= $chartData['C']['topo']['progress'] ?>, <?= $chartData['C']['topo']['remain'] ?>],
                    backgroundColor: [
                        "rgb(139, 195, 74)",
                        "rgb(233, 30, 99)"
                    ],
                }],
                labels: [
                    "แล้วเสร็จ",
                    "คงเหลือ"
                ]
            },
            options: {
                title: {
                    display: true,
                    text: 'Topo <?= $chartData['C']['topo']['progress'] ?>%'
                },
                legend: false
            }

        });
        new Chart(document.getElementById("ortho_pie_chart_center").getContext("2d"), {
            type: 'doughnut',
            data: {
                datasets: [{
                    data: [<?= $chartData['C']['ortho']['progress'] ?>, <?= $chartData['C']['ortho']['remain'] ?>],
                    backgroundColor: [
                        "rgb(139, 195, 74)",
                        "rgb(233, 30, 99)"
                    ],
                }],
                labels: [
                    "แล้วเสร็จ",
                    "คงเหลือ"
                ]
            },
            options: {
                title: {
                    display: true,
                    text: 'Ortho <?= $chartData['C']['ortho']['progress'] ?>%'
                },
                legend: false
            }

        });
        new Chart(document.getElementById("gis_pie_chart_center").getContext("2d"), {
            type: 'doughnut',
            data: {
                datasets: [{
                    data: [<?= $chartData['C']['gis']['progress'] ?>, <?= $chartData['C']['gis']['remain'] ?>],
                    backgroundColor: [
                        "rgb(139, 195, 74)",
                        "rgb(233, 30, 99)"
                    ],
                }],
                labels: [
                    "แล้วเสร็จ",
                    "คงเหลือ"
                ]
            },
            options: {
                title: {
                    display: true,
                    text: 'GIS <?= $chartData['C']['gis']['progress'] ?>%'
                },
                legend: false
            }
        });

        //east-south
        new Chart(document.getElementById("topo_pie_chart_east_south").getContext("2d"), {
            type: 'doughnut',
            data: {
                datasets: [{
                    data: [<?= $chartData['ES']['topo']['progress'] ?>, <?= $chartData['ES']['topo']['remain'] ?>],
                    backgroundColor: [
                        "rgb(139, 195, 74)",
                        "rgb(233, 30, 99)"
                    ],
                }],
                labels: [
                    "แล้วเสร็จ",
                    "คงเหลือ"
                ]
            },
            options: {
                title: {
                    display: true,
                    text: 'Topo <?= $chartData['ES']['topo']['progress'] ?>%'
                },
                legend: false
            }
        });
        new Chart(document.getElementById("ortho_pie_chart_east_south").getContext("2d"), {
            type: 'doughnut',
            data: {
                datasets: [{
                    data: [<?= $chartData['ES']['ortho']['progress'] ?>, <?= $chartData['ES']['ortho']['remain'] ?>],
                    backgroundColor: [
                        "rgb(139, 195, 74)",
                        "rgb(233, 30, 99)"
                    ],
                }],
                labels: [
                    "แล้วเสร็จ",
                    "คงเหลือ"
                ]
            },
            options: {
                title: {
                    display: true,
                    text: 'Ortho <?= $chartData['ES']['ortho']['progress'] ?>%'
                },
                legend: false
            }
        });
        new Chart(document.getElementById("gis_pie_chart_east_south").getContext("2d"), {
            type: 'doughnut',
            data: {
                datasets: [{
                    data: [<?= $chartData['ES']['gis']['progress'] ?>, <?= $chartData['ES']['gis']['remain'] ?>],
                    backgroundColor: [
                        "rgb(139, 195, 74)",
                        "rgb(233, 30, 99)"
                    ],
                }],
                labels: [
                    "แล้วเสร็จ",
                    "คงเหลือ"
                ]
            },
            options: {
                title: {
                    display: true,
                    text: 'GIS <?= $chartData['ES']['gis']['progress'] ?>%'
                },
                legend: false
            }
        });

        //south
        new Chart(document.getElementById("topo_pie_chart_south").getContext("2d"), {
            type: 'doughnut',
            data: {
                datasets: [{
                    data: [<?= $chartData['S']['topo']['progress'] ?>, <?= $chartData['S']['topo']['remain'] ?>],
                    backgroundColor: [
                        "rgb(139, 195, 74)",
                        "rgb(233, 30, 99)"
                    ],
                }],
                labels: [
                    "แล้วเสร็จ",
                    "คงเหลือ"
                ]
            },
            options: {
                title: {
                    display: true,
                    text: 'Topo <?= $chartData['S']['topo']['progress'] ?>%'
                },
                legend: false
            }
        });
        new Chart(document.getElementById("ortho_pie_chart_south").getContext("2d"), {
            type: 'doughnut',
            data: {
                datasets: [{
                    data: [<?= $chartData['S']['ortho']['progress'] ?>, <?= $chartData['S']['ortho']['remain'] ?>],
                    backgroundColor: [
                        "rgb(139, 195, 74)",
                        "rgb(233, 30, 99)"
                    ],
                }],
                labels: [
                    "แล้วเสร็จ",
                    "คงเหลือ"
                ]
            },
            options: {
                title: {
                    display: true,
                    text: 'Ortho <?= $chartData['S']['ortho']['progress'] ?>%'
                },
                legend: false
            }
        });
        new Chart(document.getElementById("gis_pie_chart_south").getContext("2d"), {
            type: 'doughnut',
            data: {
                datasets: [{
                    data: [<?= $chartData['S']['gis']['progress'] ?>, <?= $chartData['S']['gis']['remain'] ?>],
                    backgroundColor: [
                        "rgb(139, 195, 74)",
                        "rgb(233, 30, 99)"
                    ],
                }],
                labels: [
                    "แล้วเสร็จ",
                    "คงเหลือ"
                ]
            },
            options: {
                title: {
                    display: true,
                    text: 'GIS <?= $chartData['S']['gis']['progress'] ?>%'
                },
                legend: false
            }
        });


    });
</script>