<div id="layer-feature-box"></div>

<script>
    var picturePrefix = 'PICTURE';

    var layerUrl = '<?= $this->layerInfo['layer_url'] ?>';
    var url = layerUrl + '/query?where=<?= $this->primaryKey ?>=<?= $this->id ?>&outFields=*&f=pjson';

    $.get(url, {}, function(res) {

        var json = JSON.parse(res);
        // console.log(json);
        // return;

        var html = '';

        var features = json.features;

        var no = 0;
        for (var i in features) {

            var attr = features[i].attributes;

            no++;

            html += '<input type="hidden" name="objectid" value="' + attr.OBJECTID + '"/>';
            html += '<h5>' + no + '. ' + attr.NAMET + '</h5>';

            for (var j in attr) {

                // console.log(j);

                html += '<div class="row">';
                html += '<div class="col-sm-6">' + j + '</div>';
                html += '<div class="col-sm-6">';


                if (j == 'OBJECTID') {
                    html += '<div style="padding-bottom: 20px;">' + attr[j] + '</div>';
                } else if (j.indexOf(picturePrefix) == 0) {
                    html += '<img src="<?= $this->basePath('uploads') ?>/' + attr[j] + '" height="50"/>';
                    // html += '<input class="form-control" name="data[' + j + ']" type="text" value="' + attr[j] + '">';
                    html += '<input class="form-control" name="data[' + j + ']" type="hidden" value="image">';
                    html += '<input class="form-control" name="' + j + '" type="file" accept="image/*" value="">';

                } else {
                    html += '<input class="form-control" name="data[' + j + ']" type="text" value="' + attr[j] + '">';
                }

                html += '</div>';
                html += '</div>';


            }



            // }

        }

        $('#layer-feature-box').html(html);
    });
</script>