<div class="row clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 table-xs-full">
        <div class="card">
            <div class="header">
                <a class="btn-back" href="javascript:window.history.back()"><i class="material-icons">keyboard_arrow_left</i></a>
                <h4>
                    <?= $this->translate('edit layer') ?>
                </h4>
            </div>
            <div class="body">
                <form>
                    <div class="row justify-content-md-center">
                        <div class="col-sm-8"></div>
                        <div class="col-sm-4 offset-sm-4">

                            <div class="input-group">
                                <span class="input-group-addon">
                                    <i class="material-icons">search</i>
                                </span>
                                <div class="form-line">
                                    <input type="text" name="search" id="search" class="form-control" placeholder="<?= $this->translate('search') ?>" value="<?php echo $this->search; ?>">
                                </div>
                            </div>

                        </div>
                    </div>
                </form>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th width="50">#</th>
                            <th><?= $this->translate('name') ?></th>
                            <th width="50"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <?php
                        $no = 0;
                        $group = '';
                        foreach ($this->layerList as $row) :
                            $no++;
                        ?>



                            <tr>
                                <td>
                                    <?php echo $no; ?>.
                                </td>
                                <td><?php echo $this->escapeHtml($row['layer_name']); ?></td>

                                <th>

                                    <ul class="header-dropdown m-r--5">
                                        <li class="dropdown">
                                            <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                                <i class="material-icons">more_vert</i>
                                            </a>
                                            <ul class="dropdown-menu pull-right">

                                                <li data-toggle="modal" data-target="#edit-modal"><a href="<?php echo $this->url('layer', ['action' => 'list'], ['query' => ['layer_id' => $row['layer_id']]]) ?>" class=" waves-effect waves-block"><i class="material-icons">edit</i> <?= $this->translate('edit') ?></a></li>


                                            </ul>
                                        </li>
                                    </ul>

                                </th>
                            </tr>
                        <?php endforeach; ?>
                    </tbody>
                </table>

            </div>
        </div>
    </div>
</div>