<div class="row clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 table-xs-full">
        <div class="card">
            <div class="header">
                <a class="btn-back" href="javascript:window.history.back()"><i class="material-icons">keyboard_arrow_left</i></a>
                <h4>
                    <?= $this->translate('station') ?>
                </h4>
            </div>
            <div class="body table-responsive">
                <form action="<?= $this->url('layer', ['action' => 'edit']) ?>" id="fm-edit-layer" method="post" enctype="multipart/form-data">
                    <div>
                        <button type="submit" class="btn btn-success" onClick="editLayer()"><?= $this->translate('save') ?></button>
                    </div>
                    <div id="layer-attr-box"></div>
                    <div>
                        <button type="submit" class="btn btn-success" onClick="editLayer()"><?= $this->translate('save') ?></button>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>

<script>
    var objectId = JSON.parse('<?= $this->objectId ?>');
    // console.log(objectId);

    var picturePrefix = 'ABB_';

    var url = 'https://srtarcgis.dyndns-web.com:6443/arcgis/rest/services/Orther_Group/Station/FeatureServer/0/query?where=1%3D1&objectIds=&time=&geometry=&geometryType=esriGeometryEnvelope&inSR=&spatialRel=esriSpatialRelIntersects&distance=&units=esriSRUnit_Foot&relationParam=&outFields=*&returnGeometry=true&maxAllowableOffset=&geometryPrecision=&outSR=&gdbVersion=&returnDistinctValues=false&returnIdsOnly=false&returnCountOnly=false&returnExtentOnly=false&orderByFields=&groupByFieldsForStatistics=&outStatistics=&returnZ=false&returnM=false&multipatchOption=&resultOffset=&resultRecordCount=&f=pjson';
    $.get(url, {}, function(res) {

        var json = JSON.parse(res);
        // console.log(json);

        var html = '';

        var features = json.features;
        var no = 0;
        for (var i in features) {

            var attr = features[i].attributes;

            if (objectId.indexOf(attr.OBJECTID) != -1) {

                no++;

                html += '<h5>' + no + '. ' + attr.NAMET + '</h5>';

                for (var j in attr) {

                    // console.log(j);

                    if (j.indexOf(picturePrefix) == 0) {

                        html += '<div class="row">';
                        html += '<div class="col-sm-6">' + j + '</div>';
                        html += '<div class="col-sm-6">';

                        // if (j == 'OBJECTID') {
                        //     html += attr[j];
                        // } else if (j.indexOf(picturePrefix) == 0) {
                        //     html += '<input class="form-control" name="' + j + '[' + attr.OBJECTID + ']" type="file" value="">';
                        // } else {
                        //     html += '<input class="form-control" name="' + j + '[' + attr.OBJECTID + ']" type="text" value="' + attr[j] + '">';
                        // }

                        html += '<input class="form-control" name="' + j + '[' + attr.OBJECTID + ']" type="file" accept="image/*" value="">';

                        html += '</div>';
                        html += '</div>';
                    }

                }

                html += '<br/>';

            }

        }

        $('#layer-attr-box').html(html);
    });

    function editLayer() {

        var data = [{
            "attributes": {
                "objectid": 1,
                "ProvName": "นครศรีธรรมราช 12",
            }
        }];

        var form = new FormData();
        form.append("f", "pjson");
        form.append("features", JSON.stringify(data));

        var settings = {
            "url": "https://srtarcgis.dyndns-web.com:6443/arcgis/rest/services/Orther_Group/Station/FeatureServer/0/updateFeatures",
            "method": "POST",
            "timeout": 0,
            "processData": false,
            "mimeType": "multipart/form-data",
            "contentType": false,
            "data": form
        };

        $.ajax(settings).done(function(response) {
            console.log(response);
        });

    }
</script>