<div class="row clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 table-xs-full">
        <div class="card">
            <div class="header">
                <a class="btn-back" href="javascript:window.history.back()"><i class="material-icons">keyboard_arrow_left</i></a>
                <h4>
                    <?= $this->translate('list') ?>
                </h4>
            </div>
            <div class="body">
                <!-- <form>
                    <div class="row justify-content-md-center">
                        <div class="col-sm-8"></div>
                        <div class="col-sm-4 offset-sm-4">

                            <div class="input-group">
                                <span class="input-group-addon">
                                    <i class="material-icons">search</i>
                                </span>
                                <div class="form-line">
                                    <input type="text" name="search" id="search" class="form-control" placeholder="<?= $this->translate('search') ?>" value="<?php echo $this->search; ?>">
                                </div>
                            </div>

                        </div>
                    </div>
                </form> -->
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th width="50">#</th>
                            <th><?= $this->translate('name') ?></th>
                            <th width="50"></th>
                        </tr>
                    </thead>
                    <tbody id="edit-list">


                    </tbody>
                </table>

            </div>
        </div>
    </div>
</div>

<form method="post" id="fm-edit" enctype="multipart/form-data">
    <div class="modal fade" id="edit-modal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">

                <div class="modal-header">
                    <h4 class="modal-title"><?= $this->translate('edit'); ?></h4>
                </div>
                <div class="modal-body">

                    <div id="edit-layer-box"></div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success waves-effect font-upper" onclick="save()"><?= $this->translate('save'); ?></button>
                    <button type="button" class="btn btn-link waves-effect font-upper" data-dismiss="modal"><?= $this->translate('close'); ?></button>
                </div>
            </div>
        </div>
    </div>
</form>

<script>
    var layerUrl = '<?= $this->layerInfo['layer_url'] ?>';

    <?php
    if (is_null($this->layerKey)) {
    ?>
        var url = layerUrl + '/query?where=1=1&outFields=*&f=pjson';
    <?php
    } else {
    ?>
        var url = layerUrl + '/query?where=<?= $this->primaryKey ?>+IN+(<?= @implode("%2c", $this->layerKey) ?>)&outFields=*&f=pjson';
    <?php
    }
    ?>

    $.get(url, {}, function(res) {

        // console.log(res);
        var json = JSON.parse(res);

        var features = json.features;

        // console.log(features);

        var no = 0;
        html = '';
        for (var i in features) {
            no++;

            var attr = features[i].attributes;

            html += '<tr>';
            html += '<td>' + no + '.</td>';
            html += '<td>' + attr.<?= $this->displayName ?> + '</td>';

            html += '<th>';

            html += '<ul class="header-dropdown m-r--5">';
            html += '<li class="dropdown">';
            html += '<a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">';
            html += '<i class="material-icons">more_vert</i>';
            html += '</a>';
            html += '<ul class="dropdown-menu pull-right">';

            html += '<li data-toggle="modal" data-target="#edit-modal"><a href="javascript:edit(<?= $this->layerInfo['layer_id'] ?>,\'' + attr.<?= $this->primaryKey ?> + '\')" class=" waves-effect waves-block"><i class="material-icons">edit</i> <?= $this->translate('edit') ?></a></li>';

            html += '</ul>';
            html += '</li>';
            html += '</ul>';

            html += '</th>';
            html += '</tr>';

        }

        $('#edit-list').html(html);

    });

    function edit(layerId, id) {

        $.post('<?php echo $this->url('layer', ['action' => 'edit']) ?>', {
            'id': id,
            'layer_id': layerId
        }, function(res) {

            // console.log(res);
            $('#edit-layer-box').html(res);

        });

    }

    function save() {

        // var data = $('#fm-edit').serialize();

        var form = $('#fm-edit')[0];
        var formData = new FormData(form);

        $.ajax({
            url: '<?php echo $this->url('layer', ['action' => 'save']) ?>',
            type: 'POST',
            data: formData,
            processData: false,
            contentType: false,
            success: function(data, status) {

                console.log(data);

                var form = new FormData();
                form.append("f", "pjson");
                form.append("features", data);

                var settings = {
                    "url": layerUrl + "/updateFeatures",
                    "method": "POST",
                    "timeout": 0,
                    "processData": false,
                    "mimeType": "multipart/form-data",
                    "contentType": false,
                    "data": form
                };

                $.ajax(settings).done(function(response) {
                    console.log(response);
                    window.location.reload();
                });

            },
            error: function(xhr, desc, err) {


            }
        });


        // var data = [{
        //     "attributes": {
        //         "objectid": 1,
        //         "ProvName": "นครศรีธรรมราช 12",
        //     }
        // }];


    }
</script>