<div class="row clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
            <div class="header">
                <h2>
                    <?= $this->translate('profile') ?>
                </h2>

            </div>
            <div class="body">
                <form class="form-horizontal">

                    <div class="row clearfix">
                        <div class="col-xs-12">
                            <div class="form-group">
                                <?php
                                $avatar = $this->basePath('img/avatar.png');
                                if (isset($_COOKIE['rwuphoto']) && $_COOKIE['rwuphoto'] != '') {
                                    $avatar = $this->basePath('uploads/' . $this->config['config_key'] . '/profile/' . $_COOKIE['rwuphoto']);
                                }
                                ?>
                                <div id="profile-photo" class="user-image" style="background-image: url('<?php echo $avatar ?>'); width: 150px; height: 150px; margin: 0 auto;"></div>
                            </div>
                        </div>
                    </div>
                    <div class="row clearfix">
                        <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5 form-control-label">
                            <label for="name"><?= $this->translate('name') ?></label>
                        </div>
                        <div class="col-lg-10 col-md-10 col-sm-8 col-xs-7">
                            <div class="form-group">
                                <div class="form-line">

                                    <input type="text" class="form-control" placeholder="" value="<?= $this->profile['user_name'] ?>" readonly>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row clearfix">
                        <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5 form-control-label">
                            <label for="position"><?= $this->translate('position') ?></label>
                        </div>
                        <div class="col-lg-10 col-md-10 col-sm-8 col-xs-7">
                            <div class="form-group">
                                <div class="form-line">
                                    <input type="text" class="form-control" placeholder="" value="<?= $this->profile['user_position'] ?>" readonly>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row clearfix">
                        <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5 form-control-label">
                            <label for="phone"><?= $this->translate('phone') ?></label>
                        </div>
                        <div class="col-lg-10 col-md-10 col-sm-8 col-xs-7">
                            <div class="form-group">
                                <div class="form-line">
                                    <input type="text" class="form-control" placeholder="" value="<?= $this->profile['user_phone'] ?>" readonly>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row clearfix">
                        <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5 form-control-label">
                            <label for="email_address_2"><?= $this->translate('email') ?></label>
                        </div>
                        <div class="col-lg-10 col-md-10 col-sm-8 col-xs-7">
                            <div class="form-group">
                                <div class="form-line">
                                    <input type="text" class="form-control" placeholder="" value="<?= $this->profile['user_email'] ?>" readonly>
                                </div>
                            </div>
                        </div>
                    </div>



                    <!-- <div class="row clearfix">
                        <div class="col-lg-offset-2 col-md-offset-2 col-sm-offset-4 col-xs-offset-5">
                            <button type="button" class="btn btn-primary m-t-15 waves-effect">SAVE</button>
                        </div>
                    </div> -->
                </form>
            </div>
        </div>
    </div>
</div>