<!-- Bootstrap Select Css -->
<link href="<?= $this->basePath('template/plugins/bootstrap-select/css/bootstrap-select.css') ?>" rel="stylesheet" />

<!-- Bootstrap Material Datetime Picker Css -->
<link href="<?= $this->basePath('template/plugins/bootstrap-material-datetimepicker/css/bootstrap-material-datetimepicker.css') ?>" rel="stylesheet" />

<div class="row clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 table-xs-full">
        <div class="card">
            <div class="header">
                <a class="btn-back" href="javascript:window.history.back()"><i class="material-icons">keyboard_arrow_left</i></a>
                <h4>
                    <?= $this->translate('plan') ?>
                </h4>
            </div>
            <div class="body">
                <!-- <form>
                    <div class="row justify-content-md-center">
                        <div class="col-sm-8"></div>
                        <div class="col-sm-4 offset-sm-4">

                            <div class="input-group">
                                <span class="input-group-addon">
                                    <i class="material-icons">search</i>
                                </span>
                                <div class="form-line">
                                    <input type="text" name="search" id="search" class="form-control" placeholder="<?= $this->translate('search') ?>" value="<?php echo $this->search; ?>">
                                </div>
                            </div>

                        </div>
                    </div>
                </form> -->
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th width="50">#</th>
                            <th><?= $this->translate('code') ?></th>
                            <th><?= $this->translate('station') ?></th>
                            <th><?= $this->translate('พื้นที่ (ไร่)') ?></th>
                            <th><?= $this->translate('กิจกรรม') ?></th>
                            <th><?= $this->translate('วันที่เริ่มทำงาน (plan)') ?></th>
                            <th><?= $this->translate('วันที่จะทำงานเสร็จ (plan)') ?></th>
                            <th><?= $this->translate('วันที่ทำเสร็จจริง (actual)') ?></th>

                            <th width="50"></th>
                        </tr>
                    </thead>
                    <tbody id="add-list">


                    </tbody>
                </table>

            </div>
        </div>
    </div>
</div>

<form method="post" onsubmit="save();return false;" id="fm-add">
    <div class="modal fade" id="add-modal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">

                <div class="modal-header">
                    <h4 class="modal-title"><?= $this->translate('add'); ?></h4>
                </div>
                <div class="modal-body">

                    <div class="row clearfix">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <div class="form-line">
                                    <select name="activity" class="form-control show-tick" required>
                                        <option value="">-- Please select --</option>
                                        <?php
                                        foreach ($this->activityList as $row) {

                                        ?>
                                            <option value="<?= $row['plan_activity_id'] ?>"><?= $row['plan_activity_name'] ?></option>
                                        <?php
                                        }
                                        ?>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="form-line">
                                    <input type="text" class="datepicker form-control" name="start_date" placeholder="<?= $this->translate('วันที่เริ่มทำงาน (plan)'); ?>">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="form-line">
                                    <input type="text" class="datepicker form-control" name="end_date" placeholder="<?= $this->translate('วันที่จะทำงานเสร็จ (plan)'); ?>">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="form-line">
                                    <input type="text" class="datepicker form-control" name="actual_date" placeholder="<?= $this->translate('วันที่ทำเสร็จจริง (actual)'); ?>">
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-success waves-effect font-upper"><?= $this->translate('save'); ?></button>
                    <button type="button" class="btn btn-link waves-effect font-upper" data-dismiss="modal"><?= $this->translate('close'); ?></button>
                </div>
            </div>
        </div>
    </div>
</form>

<!-- Select Plugin Js -->
<script src="<?= $this->basePath('template/plugins/bootstrap-select/js/bootstrap-select.js') ?>"></script>

<!-- Moment Plugin Js -->
<script src="<?= $this->basePath('template/plugins/momentjs/moment.js') ?>"></script>

<!-- Bootstrap Material Datetime Picker Plugin Js -->
<script src="<?= $this->basePath('template/plugins/bootstrap-material-datetimepicker/js/bootstrap-material-datetimepicker.js') ?>"></script>

<!-- Sweetalert Css -->
<link href="<?php echo $this->basePath('template/plugins/sweetalert/sweetalert.css'); ?>" rel="stylesheet" />

<!-- SweetAlert Plugin Js -->
<script src="<?php echo $this->basePath('template/plugins/sweetalert/sweetalert.min.js'); ?>"></script>

<script>
    var code;
    var layerUrl = '<?= $this->layerInfo['layer_url'] ?>';
    var url = layerUrl + '/query?where=<?= $this->primaryKey ?>+IN+(<?= implode("%2c", $this->layerKey) ?>)&outFields=*&f=pjson';

    $.get(url, {}, function(res) {

        // console.log(res);
        var json = JSON.parse(res);

        var features = json.features;

        // console.log(features);

        var no = 0;
        html = '';
        for (var i in features) {
            no++;

            var attr = features[i].attributes;

            var selectActivity = '';

            html += '<tr class="layer-plan" id="layer-' + attr.<?= $this->primaryKey ?> + '">';
            html += '<td>' + no + '.</td>';
            html += '<td>' + attr.<?= $this->displayCode ?> + '</td>';
            html += '<td>' + attr.<?= $this->displayName ?> + '</td>';
            html += '<td></td>';
            html += '<td></td>';
            html += '<td></td>';
            html += '<td></td>';
            html += '<td></td>';

            html += '<th>';

            html += '<ul class="header-dropdown m-r--5">';
            html += '<li class="dropdown">';
            html += '<a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">';
            html += '<i class="material-icons">more_vert</i>';
            html += '</a>';
            html += '<ul class="dropdown-menu pull-right">';

            html += '<li data-toggle="modal" data-target="#add-modal"><a href="javascript:addPlan(\'' + attr.<?= $this->primaryKey ?> + '\')" class=" waves-effect waves-block"><i class="material-icons">edit</i> <?= $this->translate('add') ?></a></li>';

            html += '</ul>';
            html += '</li>';
            html += '</ul>';

            html += '</th>';
            html += '</tr>';

        }

        $('#add-list').html(html);

        loadLayerPlan();

    });

    function loadLayerPlan() {
        $(".layer-plan").each(function(index) {
            var id = $(this).attr('id');
            // console.log(id);
            var tmp = id.split('-');

            $.post('<?php echo $this->url('plan', ['action' => 'list']) ?>', {
                'code': tmp[1]
            }, function(res) {
                // console.log('#layer-' + id);
                $('#' + id).after(res);

            });
        });
    }

    function addPlan(layerCode) {

        code = layerCode;
        console.log(code);

    }

    function save() {

        var data = $('#fm-add').serialize();

        data += '&code=' + code;

        // console.log(data);

        $.post('<?php echo $this->url('plan', ['action' => 'save']) ?>', data, function(res) {
            // console.log(res);
            window.location.reload();
        });


    }

    function deletePlan(id) {

        swal({
            title: "<?= $this->translate('Are you sure') ?>?",
            text: '<?= $this->translate('write "YES" for confirm delete') ?>',
            type: "input",
            inputPlaceholder: "YES",
            showCancelButton: true,
            confirmButtonColor: "#DD6B55",
            confirmButtonText: "<?= $this->translate('yes, delete it!') ?>",
            cancelButtonText: "<?= $this->translate('No, cancel plx!') ?>",
            closeOnConfirm: false,
            closeOnCancel: false
        }, function(inputValue) {

            if (inputValue === false) {
                swal.close();
            } else {
                if (inputValue !== "YES") {
                    swal.showInputError('<?= $this->translate('You must write "YES" first.') ?>');
                    return false
                } else {

                    $.post('<?php echo $this->url('plan', ['action' => 'delete']) ?>', {
                        'id': id
                    }, function(res) {
                        // console.log(res);
                        $('#plan-' + id).remove();
                        swal.close();

                    });

                }
            }
        });

    }

    $(function() {
        $('.datepicker').bootstrapMaterialDatePicker({
            format: 'YYYY-MM-DD',
            clearButton: true,
            weekStart: 1,
            time: false
        });
    });
</script>