<?php

$url = $this->basePath();
$templateUrl = $url . '/template';

?>
<?= $this->doctype() ?>

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <title>GIS DIW</title>
    <!-- Favicon-->
    <link rel="icon" href="<?php echo $this->basePath('img/logo.png') ?>" type="image/x-icon">

    <!-- Google Fonts -->
    <!-- <link href="https://fonts.googleapis.com/css?family=Roboto:400,700&subset=latin,cyrillic-ext" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" type="text/css"> -->

    <!-- <link href="<?= $this->basePath('css/font-icon.css'); ?>" rel="stylesheet" type="text/css"> -->


    <!-- Bootstrap Core Css -->
    <link href="<?php echo $this->basePath() ?>/css/bootstrap.min.css" rel="stylesheet">

    <!-- Waves Effect Css -->
    <link href="<?php echo $templateUrl ?>/plugins/node-waves/waves.css" rel="stylesheet" />

    <!-- Animation Css -->
    <link href="<?php echo $templateUrl ?>/plugins/animate-css/animate.css" rel="stylesheet" />

    <!-- Morris Chart Css-->
    <link href="<?php echo $templateUrl ?>/plugins/morrisjs/morris.css" rel="stylesheet" />

    <!-- Custom Css -->
    <link href="<?php echo $templateUrl ?>/css/style.css" rel="stylesheet">
    <link href="<?php echo $url ?>/css/custome.css?_=1" rel="stylesheet">

    <!-- AdminBSB Themes. You can choose a theme from css/themes instead of get all themes -->
    <link href="<?php echo $templateUrl ?>/css/themes/theme-blue.css" rel="stylesheet" />


    <!-- Jquery Core Js -->
    <!-- <script src="<?php echo $templateUrl ?>/plugins/jquery/jquery.min.js"></script> -->
    <script src="<?php echo $this->basePath(); ?>/js/jquery-3.1.0.min.js"></script>

    <!-- Bootstrap Core Js -->
    <!-- <script src="<?php echo $templateUrl ?>/plugins/bootstrap/js/bootstrap.min.js"></script> -->
    <script src="<?php echo $this->basePath(); ?>/js/bootstrap.min.js"></script>

    <!-- Slimscroll Plugin Js -->
    <script src="<?php echo $templateUrl ?>/plugins/jquery-slimscroll/jquery.slimscroll.js"></script>

    <!-- Waves Effect Plugin Js -->
    <script src="<?php echo $templateUrl ?>/plugins/node-waves/waves.js"></script>

    <!-- Custom Js -->
    <script src="<?php echo $templateUrl ?>/js/admin.js"></script>

    <style>
        @font-face {
            font-family: 'Material Icons';
            font-style: normal;
            font-weight: 400;
            src: url(<?= $this->basePath('fonts/icon.woff2'); ?>) format('woff2');
        }

        .material-icons {
            font-family: 'Material Icons';
            font-weight: normal;
            font-style: normal;
            font-size: 24px;
            line-height: 1;
            letter-spacing: normal;
            text-transform: none;
            display: inline-block;
            white-space: nowrap;
            word-wrap: normal;
            direction: ltr;
            -webkit-font-feature-settings: 'liga';
            -webkit-font-smoothing: antialiased;
        }

        .sidebar .user-info .info-container .user-helper-dropdown {
            color: #aaa;
        }

        .badge-noti {
            position: absolute;
            right: 10px;
        }

        @media (max-width: 576px) {

            .ls-closed section.content {
                margin-left: 0px;
                margin-right: 0px;
                margin-top: 100px;
                padding: 0;
            }

        }

        @media (min-width: 768px) {

            .navbar>.container .navbar-brand,
            .navbar>.container-fluid .navbar-brand {
                margin-left: 30px;
            }
        }
    </style>

</head>

<body class="theme-blue">
    <!-- Page Loader -->
    <div class="page-loader-wrapper">
        <div class="loader">
            <div class="preloader">
                <div class="spinner-layer pl-red">
                    <div class="circle-clipper left">
                        <div class="circle"></div>
                    </div>
                    <div class="circle-clipper right">
                        <div class="circle"></div>
                    </div>
                </div>
            </div>
            <p>Please wait...</p>
        </div>
    </div>
    <!-- #END# Page Loader -->
    <!-- Overlay For Sidebars -->
    <div class="overlay"></div>
    <!-- #END# Overlay For Sidebars -->
    <!-- Search Bar -->
    <div class="search-bar hidden-print">
        <div class="search-icon">
            <i class="material-icons">search</i>
        </div>
        <input type="text" placeholder="START TYPING...">
        <div class="close-search">
            <i class="material-icons">close</i>
        </div>
    </div>
    <!-- #END# Search Bar -->
    <!-- Top Bar -->
    <nav class="navbar">
        <div class="container-fluid">
            <div class="navbar-header">
                <!-- <a href="javascript:void(0);" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false">
                    <i class="material-icons">more_vert</i>
                </a> -->
                <a href="javascript:void(0);" class="bars"></a>

                <a class="navbar-brand" style="padding-top: 10px; font-size: 14px;" href="<?php echo $url . '/' ?>">
                    <img height="42" style="display: unset;" src="<?php echo $this->basePath('img/logo.png') ?>" />
                    &nbsp;&nbsp; กรมโรงงานอุตสาหกรรม
                </a>
            </div>
            <!-- <div class="collapse navbar-collapse" id="navbar-collapse">
                <ul class="nav navbar-nav navbar-right align-center">
                    <li class="pull-right"><a href="javascript:void(0);" class="js-right-sidebar" data-close="true"><i class="material-icons">more_vert</i></a></li>
                </ul>
            </div> -->
        </div>
    </nav>
    <!-- #Top Bar -->
    <section>
        <!-- Left Sidebar -->
        <aside id="leftsidebar" class="sidebar">
            <!-- User Info -->
            <div class="user-info">
                <?php
                $avatar = $this->basePath('img/avatar.png');
                if (isset($_COOKIE['rwuphoto']) && $_COOKIE['rwuphoto'] != '') {
                    $avatar = $this->basePath('uploads/' . $this->config['config_key'] . '/profile/' . $_COOKIE['rwuphoto']);
                }
                ?>
                <div id="profile-photo" class="user-image" style="background-image: url('<?php echo $avatar ?>')"></div>

                <div class="info-container">
                    <div class="name" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><?= $_SESSION['login']['user_name'] ?></div>
                    <div class="email"><?= isset($_SESSION['login']['user_group_name']) ? $_SESSION['login']['user_group_name'] : '' ?>&nbsp;</div>

                    <div class="btn-group user-helper-dropdown">
                        <i class="material-icons" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">keyboard_arrow_down</i>
                        <ul class="dropdown-menu pull-right">
                            <li><a href="<?php echo $this->url('profile') ?>"><i class="material-icons">person</i><?= $this->translate('profile') ?></a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="<?php echo $this->url('login', ['action' => 'logout']) ?>"><i class="material-icons">input</i><?= $this->translate('logout') ?></a></li>
                        </ul>
                    </div>

                </div>
            </div>
            <!-- #User Info -->

            <!-- Menu -->
            <div class="menu">
                <ul class="list">

                    <li class="<?php echo ($this->menu == 'dashboard') ? 'active' : '' ?>">
                        <a href="<?php echo $this->url('dashboard') ?>">
                            <i class="material-icons">dashboard</i>
                            <span><?= $this->translate('dashboard') ?></span>
                        </a>
                    </li>
                    <li class="<?php echo ($this->menu == 'home') ? 'active' : '' ?>">
                        <a href="<?php echo $this->url('map', ['action' => 'index']) ?>">
                            <i class="material-icons">map</i>
                            <span><?= $this->translate('map') ?></span>
                        </a>
                    </li>


                    <?php
                    if (isset($_SESSION['login']['permission']->admin) && $_SESSION['login']['permission']->admin == '1') {
                    ?>
                        <li class="header font-upper"><?= $this->translate('administrator') ?></li>

                        <li class="<?php echo ($this->menu == 'admin/layer') ? 'active' : '' ?>">
                            <a href="<?php echo $this->url('admin', ['action' => 'layer']) ?>">
                                <i class="material-icons">layers</i>
                                <span><?= $this->translate('layers') ?></span>
                            </a>
                        </li>

                        <li class="<?php echo ($this->menu == 'admin/group') ? 'active' : '' ?>">
                            <a href="<?php echo $this->url('admin', ['action' => 'group']) ?>">
                                <i class="material-icons">group</i>
                                <span><?= $this->translate('user group') ?></span>
                            </a>
                        </li>
                        <li class="<?php echo ($this->menu == 'admin/user') ? 'active' : '' ?>">
                            <a href="<?php echo $this->url('admin', ['action' => 'user']) ?>">
                                <i class="material-icons">person</i>
                                <span><?= $this->translate('user') ?></span>
                            </a>
                        </li>
                        <li class="<?php echo ($this->menu == 'admin/permission') ? 'active' : '' ?>">
                            <a href="<?php echo $this->url('admin', ['action' => 'permission']) ?>">
                                <i class="material-icons">settings</i>
                                <span><?= $this->translate('permission') ?></span>
                            </a>
                        </li>
                        <li class="<?php echo ($this->menu == 'admin/report') ? 'active' : '' ?>">
                            <a href="<?php echo $this->url('admin', ['action' => 'report']) ?>">
                                <i class="material-icons">settings</i>
                                <span><?= $this->translate('Report Settings') ?></span>
                            </a>
                        </li>
                        <li class="<?php echo ($this->menu == 'admin/search') ? 'active' : '' ?>">
                            <a href="<?php echo $this->url('admin', ['action' => 'search']) ?>">
                                <i class="material-icons">settings</i>
                                <span><?= $this->translate('Search Settings') ?></span>
                            </a>
                        </li>
                        <li class="<?php echo ($this->menu == 'admin/log') ? 'active' : '' ?>">
                            <a href="<?php echo $this->url('admin', ['action' => 'log']) ?>">
                                <i class="material-icons">history</i>
                                <span><?= $this->translate('log') ?></span>
                            </a>
                        </li>
                    <?php
                    }
                    ?>

                    <!-- <li>
                        <a href="javascript:void(0);" class="menu-toggle waves-effect waves-block">
                            <i class="material-icons">add</i>
                            <span>add</span>
                        </a>
                        <ul class="ml-menu">
                            <li>
                                <a href="add1.html" class=" waves-effect waves-block">บัญชีโครงสร้างพื้นฐาน</a>
                            </li>
                            <li>
                                <a href="add2.html" class=" waves-effect waves-block">บัญชีอาคารและสิ่งปลูกสร้าง</a>
                            </li>
                        </ul>
                    </li> -->




                </ul>
            </div>
            <!-- #Menu -->
            <!-- Footer -->
            <div class="legal align-center">
                <div class="copyright">
                    FICT Associate &copy; 2020 Version: 1.0
                </div>
                <!-- <div class="version">
                    <b>Version: </b> 2.0
                </div> -->
            </div>
            <!-- #Footer -->
        </aside>
        <!-- #END# Left Sidebar -->

        <!-- Right Sidebar -->
        <aside id="rightsidebar" class="right-sidebar">
            <ul class="nav nav-tabs tab-nav-right" role="tablist">
                <li role="presentation" class="active"><a href="#layer" data-toggle="tab">LAYER</a></li>
                <li role="presentation"><a href="#basemap" data-toggle="tab">BASEMAP</a></li>

            </ul>
            <div class="tab-content" style="height: 100%; padding-bottom: 40px;">
                <div role="tabpanel" class="tab-pane fade in active" id="layer" style="height: 100%"></div>
                <div role="tabpanel" class="tab-pane fade" id="basemap" style="height: 100%"></div>

            </div>
        </aside>
        <!-- #END# Right Sidebar -->

    </section>

    <section class="content">
        <div class="container-fluid xs-full" id="main-content-box">
            <?= $this->content ?>
        </div>
    </section>
    <?= $this->inlineScript() ?>

    <script>
        function goUrl(url) {
            window.location = url;
        }
    </script>

</body>

</html>