﻿<!-- 
THEME: Small Apps | Bootstrap App Landing Template
VERSION: 1.0.0
AUTHOR: Themefisher

HOMEPAGE: https://themefisher.com/products/small-apps-free-app-landing-page-template/
DEMO: https://demo.themefisher.com/small-apps/
GITHUB: https://github.com/themefisher/Small-Apps-Bootstrap-App-Landing-Template

Get HUGO Version : https://themefisher.com/products/small-apps-hugo-app-landing-theme/

WEBSITE: https://themefisher.com
TWITTER: https://twitter.com/themefisher
FACEBOOK: https://www.facebook.com/themefisher
-->

<!DOCTYPE html>
<html lang="en">

<head>

    <!-- Basic Page Needs
  ================================================== -->
    <meta charset="utf-8">
    <title>GIS กรมโรงงานอุตสาหกรรม</title>

    <!-- Mobile Specific Metas
  ================================================== -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Bootstrap App Landing Template">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=5.0">
    <meta name="author" content="Themefisher">
    <meta name="generator" content="Themefisher Small Apps Template v1.0">

    <!-- Favicon -->
    <!-- <link rel="shortcut icon" type="image/x-icon" href="images/favicon.png" /> -->

    <!-- PLUGINS CSS STYLE -->
    <link rel="stylesheet" href="plugins/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="plugins/themify-icons/themify-icons.css">
    <link rel="stylesheet" href="plugins/slick/slick.css">
    <link rel="stylesheet" href="plugins/slick/slick-theme.css">
    <link rel="stylesheet" href="plugins/fancybox/jquery.fancybox.min.css">
    <link rel="stylesheet" href="plugins/aos/aos.css">

    <!-- CUSTOM CSS -->
    <link href="css/style.css" rel="stylesheet">

    <style>
      
      #myImg {
        border-radius: 5px;
        cursor: pointer;
        transition: 0.3s;
      }
      
      #myImg:hover {opacity: 0.7;}
      
      /* The Modal (background) */
      .modal {
        display: none; /* Hidden by default */
        position: fixed; /* Stay in place */
        z-index: 1; /* Sit on top */
        padding-top: 100px; /* Location of the box */
        left: 0;
        top: 0;
        width: 100%; /* Full width */
        height: 100%; /* Full height */
        overflow: auto; /* Enable scroll if needed */
        background-color: rgb(0,0,0); /* Fallback color */
        background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
      }
      
      /* Modal Content (image) */
      .modal-content {
        margin: auto;
        display: block;
        width: 80%;
        max-width: 1200px;
      }
      
      /* Caption of Modal Image */
      #caption {
        margin: auto;
        display: block;
        width: 80%;
        max-width: 700px;
        text-align: center;
        color: #ccc;
        padding: 10px 0;
        height: 150px;
      }
      
      /* Add Animation */
      .modal-content, #caption {  
        -webkit-animation-name: zoom;
        -webkit-animation-duration: 0.6s;
        animation-name: zoom;
        animation-duration: 0.6s;
      }
      
      @-webkit-keyframes zoom {
        from {-webkit-transform:scale(0)} 
        to {-webkit-transform:scale(1)}
      }
      
      @keyframes zoom {
        from {transform:scale(0)} 
        to {transform:scale(1)}
      }
      
      /* The Close Button */
      .close {
        position: absolute;
        top: 15px;
        right: 35px;
        color: #f1f1f1;
        font-size: 40px;
        font-weight: bold;
        transition: 0.3s;
      }
      
      .close:hover,
      .close:focus {
        color: #bbb;
        text-decoration: none;
        cursor: pointer;
      }
      
      /* 100% Image Width on Smaller Screens */
      @media only screen and (max-width: 700px){
        .modal-content {
          width: 100%;
        }
      }
      </style>

</head>

<body class="body-wrapper" data-spy="scroll" data-target=".privacy-nav">


    <nav class="navbar main-nav navbar-expand-lg px-2 px-sm-0 py-2 py-lg-0">
        <div class="container">
            <a class="navbar-brand" href="<?= $this->basePath('/') ?>"><img src="<?= $this->basePath('img/logo1.png') ?>" style="width: 64px;" alt="logo"></a><a class="navbar-brand" href="<?= $this->basePath('/') ?>"><img src="img/logo-text.png" style="width: 200px;" alt="logo"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="ti-menu"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item @@about">
                        <a class="nav-link" href="<?= $this->basePath('/') ?>">หน้าหลัก</a>
                    </li>
                    <li class="nav-item @@about">
                        <a class="nav-link" href="<?= $this->basePath('/news') ?>">ข่าวสาร</a>
                    </li>
                   		
                    <li class="nav-item dropdown ">
                      <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">ผลการศึกษา
                      <span><i class="ti-angle-down"></i></span>
                      </a>
                    <!-- Dropdown list -->
                    <ul class="dropdown-menu">
                      <li><a class="dropdown-item" href="<?= $this->basePath('/results') ?>">ผลการศึกษาปี 2564</a></li>
                    </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

<!--==================================
=            Career Promo            =
===================================-->

<section class="section career-featured pt-0">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="block">
					<!-- written-content -->
					<div class="content">
            <video style="display:block; margin: 0 auto;" width="800" height="600" controls>
              <source src="<?= $this->basePath('/img/VDO_GIS.mp4') ?>" type="video/mp4">
            </video>
					</div>
				
					
				</div>
			</div>
		</div>
	</div>
</section>
<!--====  End of Career Promo  ====-->

<section class="founders section pt-0">
	<div class="container">
		<div class="row">
			<div class="col-lg-6">
				<!-- Featured Member -->
<div class="founder">
	<!-- Member Image -->
	<img class="w-100" src="<?= $this->basePath('/img/seminar.jpg') ?>" alt="featured-member">
	<!-- Name -->
</div>
			</div>
			<div class="col-lg-6">
				<!-- Featured Member -->
<div class="founder">
	<!-- Name -->
	<h2>สัมมนาเผยแพร่ผลการดำเนินโครงการ</h2>
	<!-- position -->
	<cite>23 สิงหาคม 2564</cite>
	<!-- Description -->
	<p>โครงการวิเคราะห์ศักยภาพพื้นที่เขตประกอบการอุตสาหกรรมเพื่อการพัฒนาที่ยั่งยืน ด้วยระบบ GIS (ภายใต้ค่าใช้จ่ายในการพัฒนาพื้นที่อุตสาหกรรมเพื่อรองรับการลงทุน) จะจัดการประชุมสัมมนาเผยแพร่ผลการดำเนินโครงการฯ
โดยขอเชิญชวนผู้ที่สนใจ เข้าร่วมการประชุมสัมมนารับฟังข้อคิดเห็นและรับฟังความคิดเห็น เพื่อเป็นส่วนหนึ่งในการพัฒนาศักยภาพพื้นที่ของเขตประกอบการฯ</p>
	<!-- Social Sites -->
	<a href="https://www.facebook.com/permalink.php?story_fbid=207762114655627&id=102408165191023" target="_blank" class="btn btn-main-md">รายละเอียดเพิ่มเติม</a>
</div>
			</div>
		</div>
	</div>
</section>


<!--============================
=            Footer            =
=============================-->
<footer>
  <div class="text-center bg-dark py-4">
    <small class="text-secondary">Copyright &copy; <script>document.write(new Date().getFullYear())</script>. Designed &amp; Developed by <a href="http://www.fictgroup.com/" target="_blank">FICT Associate</a></small class="text-secondary">
  </div>

	
</footer>


  <!-- To Top -->
  <div class="scroll-top-to">
    <i class="ti-angle-up"></i>
  </div>
  
  <!-- JAVASCRIPTS -->
  <script src="plugins/jquery/jquery.min.js"></script>
  <script src="plugins/bootstrap/bootstrap.min.js"></script>
  <script src="plugins/slick/slick.min.js"></script>
  <script src="plugins/fancybox/jquery.fancybox.min.js"></script>
  <script src="plugins/syotimer/jquery.syotimer.min.js"></script>
  <script src="plugins/aos/aos.js"></script>
  <!-- google map -->
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAgeuuDfRlweIs7D6uo4wdIHVvJ0LonQ6g"></script>
  <script src="plugins/google-map/gmap.js"></script>
  
  <script src="js/script.js"></script>
</body>

</html>
