<!-- 
THEME: Small Apps | Bootstrap App Landing Template
VERSION: 1.0.0
AUTHOR: Themefisher

HOMEPAGE: https://themefisher.com/products/small-apps-free-app-landing-page-template/
DEMO: https://demo.themefisher.com/small-apps/
GITHUB: https://github.com/themefisher/Small-Apps-Bootstrap-App-Landing-Template

Get HUGO Version : https://themefisher.com/products/small-apps-hugo-app-landing-theme/

WEBSITE: https://themefisher.com
TWITTER: https://twitter.com/themefisher
FACEBOOK: https://www.facebook.com/themefisher
-->

<!DOCTYPE html>
<html lang="en">

<head>

    <!-- Basic Page Needs
  ================================================== -->
    <meta charset="utf-8">
    <title>GIS กรมโรงงานอุตสาหกรรม</title>

    <!-- Mobile Specific Metas
  ================================================== -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Bootstrap App Landing Template">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=5.0">
    <meta name="author" content="Themefisher">
    <meta name="generator" content="Themefisher Small Apps Template v1.0">

    <!-- Favicon -->
    <!-- <link rel="shortcut icon" type="image/x-icon" href="images/favicon.png" /> -->

    <!-- PLUGINS CSS STYLE -->
    <link rel="stylesheet" href="plugins/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="plugins/themify-icons/themify-icons.css">
    <link rel="stylesheet" href="plugins/slick/slick.css">
    <link rel="stylesheet" href="plugins/slick/slick-theme.css">
    <link rel="stylesheet" href="plugins/fancybox/jquery.fancybox.min.css">
    <link rel="stylesheet" href="plugins/aos/aos.css">

    <!-- CUSTOM CSS -->
    <link href="css/style.css" rel="stylesheet">

    <style>
      
      #myImg {
        border-radius: 5px;
        cursor: pointer;
        transition: 0.3s;
      }
      
      #myImg:hover {opacity: 0.7;}
      
      /* The Modal (background) */
      .modal {
        display: none; /* Hidden by default */
        position: fixed; /* Stay in place */
        z-index: 1; /* Sit on top */
        padding-top: 100px; /* Location of the box */
        left: 0;
        top: 0;
        width: 100%; /* Full width */
        height: 100%; /* Full height */
        overflow: auto; /* Enable scroll if needed */
        background-color: rgb(0,0,0); /* Fallback color */
        background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
      }
      
      /* Modal Content (image) */
      .modal-content {
        margin: auto;
        display: block;
        width: 80%;
        max-width: 1200px;
      }
      
      /* Caption of Modal Image */
      #caption {
        margin: auto;
        display: block;
        width: 80%;
        max-width: 700px;
        text-align: center;
        color: #ccc;
        padding: 10px 0;
        height: 150px;
      }
      
      /* Add Animation */
      .modal-content, #caption {  
        -webkit-animation-name: zoom;
        -webkit-animation-duration: 0.6s;
        animation-name: zoom;
        animation-duration: 0.6s;
      }
      
      @-webkit-keyframes zoom {
        from {-webkit-transform:scale(0)} 
        to {-webkit-transform:scale(1)}
      }
      
      @keyframes zoom {
        from {transform:scale(0)} 
        to {transform:scale(1)}
      }
      
      /* The Close Button */
      .close {
        position: absolute;
        top: 15px;
        right: 35px;
        color: #f1f1f1;
        font-size: 40px;
        font-weight: bold;
        transition: 0.3s;
      }
      
      .close:hover,
      .close:focus {
        color: #bbb;
        text-decoration: none;
        cursor: pointer;
      }
      
      /* 100% Image Width on Smaller Screens */
      @media only screen and (max-width: 700px){
        .modal-content {
          width: 100%;
        }
      }
      </style>

</head>

<?php
$fac = $_GET['fac'];
if($fac == 'เขตประกอบการอุตสาหกรรมดับบลิวเอชเอ สระบุรี'){
  $temp = '<section class="post-grid section pt-0" style="padding:0px;">
            <div class="container">
              <div class="row">
                <div class="col-12">
                  <!-- Call to action Community -->
                  <div class="cta-community shadow">
                    <div class="row align-items-center">
                        <div class="col-lg-1 text-center text-lg-left">
                          <div class="content">
                            <p>
                            1.<br>
                            2.<br>
                            3.<br>
                            4.<br><br>
                            5.<br>
                            6.<br>
                            7.<br>
                            8.<br>
                            9.<br>
                            10.<br>
                            11.<br>
                            12.<br>
                            13.
                            </p>
                          </div>
                        </div>

                        <div class="col-lg-8 text-center text-lg-left">
                          <div class="content">
                            <p>
                            โรงงานเกี่ยวกับกระดูกสัตว์ <br>
                            โรงงานผลิตเยื่อกระดาษจากไม้ เศษผ้า หรือเส้นใย<br>
                            โรงงานอุตสาหกรรมคลอ-แอลคาไลน์<br>
                            โรงงานผลิตสารออกฤทธิ์ หรือสารที่ใช้ป้องกัน หรือกำจัดศัตรูพืช หรือสัตว์โดยกระบวนการทางเคมี<br>
                            โรงงานผลิต ดัดแปลง ซ่อมแซมวัตถุดิบระเบิด<br>
                            โรงกลั่นปิโตรเลียมหรือโรงแยกก๊าซธรรมชาติ <br>
                            โรงไฟฟ้าที่ใช้ถ่านหินเป็นเชื้อเพลิงเพื่อจำหน่าย<br>
                            โรงงานผลิตถ่านไฟฉายและแบตเตอรี่<br>
                            โรงงานผลิตหลอดฟลูออเรสเซนต์<br>
                            โรงงานรับซื้อหม้อแบตเตอรี่เก่าเพื่อนำมาหลอดใหม่<br>
                            โรงงานผลิตโซดาแอส<br>
                            โรงงานเกี่ยวกับหนังสัตว์และฟอก/ย้อม สีขนสัตว์ <br>
                            โรงงานฟอก และย้อมสี ด้าย หรือสิ่งทอ
                            </p>
                          </div>
                        </div>

                        <div class="col-lg-3 text-center text-lg-right mt-4 mt-lg-0">
                          <div class="action-button">
                          <!-- Call Button -->
                        
                          </div>
                        </div>
                      </div>  	
                    </div>	
                    </div>
                  </div>
                </div>	
              </section>';

            }else if($fac == 'เขตประกอบการอุตสาหกรรมสยามอีสเทิร์นอินดัสเตรียลพาร์ค ระยอง'){
              $temp = '<section class="post-grid section pt-0" style="padding:0px;">
                        <div class="container">
                          <div class="row">
                            <div class="col-12">
                              <!-- Call to action Community -->
                              <div class="cta-community shadow">
                                <div class="row align-items-center">
                                  <div class="col-lg-1 text-center text-lg-left">
                                    <div class="content">
                                      <p>
                                      1.<br>
                                      2.<br>
                                      3.<br>
                                      4.<br>
                                      5.<br>
                                      6.<br><br><br>
                                      </p>
                                    </div>
                                  </div>
            
                                  <div class="col-lg-8 text-center text-lg-left">
                                    <div class="content">
                                      <p>
                                      โรงงานชุบเคลือบโลหะ (อย่างเดียว)<br>
                                      โรงงานฟอกหนัง<br>
                                      โรงงานย้อมผ้า<br>
                                      โรงงานผลิตเยื่อกระดาษ<br>
                                      โรงงานผลิตสารพิษ และสารเคมีที่เป็นอันตราย<br>
                                      โรงงานตามประกาศกระทรวงอุตสาหกรรม เรื่อง โครงการหรือกิจกรรมที่เกี่ยวกับอุตสาหกรรมที่อาจก่อให้เกิดผลกระทบต่อชุมชนอย่างรุนแรง ทั้งด้านคุณภาพสิ่งแวดล้อม ทรัพยากรธรรมชาติ และสุขภาพ พ.ศ. 2562<br>
                                      </p>
                                    </div>
                                  </div>
            
                                  <div class="col-lg-3 text-center text-lg-right mt-4 mt-lg-0">
                                    <div class="action-button">
                                    
                                    
                                    </div>
                                  </div>
                                </div>  	
                              </div>	
                            </div>
                          </div>
                        </div>	
                      </section>';
            
            }else if($fac == 'เขตประกอบการอุตสาหกรรมกบินทร์บุรี ปราจีนบุรี'){
              $temp = '<section class="post-grid section pt-0" style="padding:0px;">
                        <div class="container">
                          <div class="row">
                            <div class="col-12">
                              <!-- Call to action Community -->
                              <div class="cta-community shadow">
                                <div class="row align-items-center">
                                  <div class="col-lg-1 text-center text-lg-left">
                                    <div class="content">
                                      <p>
                                      1.<br><br>
                                      2.<br>
                                      3.<br>
                                      4.<br>
                                      5.<br>
                                      6.<br>
                                      7.<br>
                                      8.<br>
                                      9.<br><br>
                                      10.<br>
                                      11.<br>
                                      12.<br>
                                      13.<br>
                                      14.
                                      </p>
                                    </div>
                                  </div>
            
                                  <div class="col-lg-8 text-center text-lg-left">
                                    <div class="content">
                                      <p>
                                      โรงงานที่เกี่ยวข้องกับการระเบิดหิน หรือบดหิน การขุดเพื่อการเอากรวด ทราย หรือ ดินเหนียว การร่อนหรือการค้นหากรวด ทราย หรือการขุดทราย<br>
                                      โรงฆ่าสัตว์สำหรับฆ่าวัว ควาย หมู แพะ<br>
                                      โรงสีสำหรับข้าวเปลือกให้เป็นข้าวสาร การนวดข้าว<br>
                                      โรงงานน้ำตาลที่ผลิตน้ำตาลจากอ้อยหรือวัตถุดิบอื่น<br>
                                      โรงฟอกหนังหรือโรงฟอกขนสัตว์ <br>
                                      โรงงานที่ใช้ซุงมาผลิตเป็นสินค้า<br>
                                      โรงงานทำเยื่อกระดาษแต่ไม่รวมถึงโรงงานที่ใช้กระดาษมาผลิตเป็นสินค้า<br>
                                      โรงงานที่ผลิตสารเคมีอันตราย วัตถุดิบเคมีปุ๋ย หรือสารฆ่าศัตรูพืช ซึ่งเป็นสารมีพิษ<br>
                                      โรงงานผลิตหรือมีส่วนประกอบสำหรับวัตถุระเบิด ดอกไม้เพลิงหรือไม้ขีดไฟ ปิโตรเลียม ยางมะตอย เชื้อเพลิง หรือแก๊สหุงต้ม<br>
                                      โรงงานที่ผลิตซีเมนต์ขาว หรือ Plaster of Paris <br>
                                      โรงงานที่มีขั้นตอนการผลิตเกี่ยวกับแร่ใยหิน<br>
                                      โรงงานถลุงเหล็ก<br>
                                      โรงงานอื่นๆ ที่ทางเขตฯ ไม่อนุญาต <br>
                                      อุตสาหกรรมปิโตรเคมีและโรงแยกก๊าซ<br>
                                      </p>
                                    </div>
                                  </div>
            
                                  <div class="col-lg-3 text-center text-lg-right mt-4 mt-lg-0">
                                    <div class="action-button">
                                    
                                    
                                    </div>
                                  </div>
                                </div>  	
                              </div>	
                            </div>
                          </div>
                        </div>	
                      </section>';
            
            }else if($fac == 'เขตประกอบการอุตสาหกรรมบริษัท ไออาร์พีซี จำกัด (มหาชน) ระยอง'){
              $temp = '<section class="post-grid section pt-0" style="padding:0px;">
                        <div class="container">
                          <div class="row">
                            <div class="col-12">
                              <!-- Call to action Community -->
                              <div class="cta-community shadow">
                                <div class="row align-items-center">
                                  <div class="col-lg-1 text-center text-lg-left">
                                    <div class="content">
                                      <p>
                                      1.<br>
                                      2.<br>
                                      3.<br>
                                      4.<br>
                                      5.<br>
                                      6.<br>
                                      7.<br>
                                      8.<br>
                                      9.<br>
                                      10.<br>
                                      11.<br>
                                      12.<br>
                                      13.
                                      </p>
                                    </div>
                                  </div>
            
                                  <div class="col-lg-8 text-center text-lg-left">
                                    <div class="content">
                                      <p>
                                      โรงงานเกี่ยวกับกระดูกสัตว์<br>
                                      โรงงานผลิตเยื่อกระดาษจากไม้ เศษผ้า หรืออเส้นใย<br>
                                      โรงงานผลิตคลอ-แอลคาไลน์<br>
                                      โรงงานผลิตปูนซีเมนต์<br>
                                      โรงงานผลิตสารออกฤทธิ์หรือสารที่ใช้ป้องกันหรือกำจัดศัตรูพืช<br>
                                      โรงงานผลิต ดัดแปลง ซ่อมแซมวัตถุระเบิด<br>
                                      โรงงานฟอก/ย้อม สีขนสัตว์<br>
                                      โรงงานผลิตถ่านไฟฉาย<br>
                                      โรงงานผลิตหลอดฟลูออเรสเซนต์<br>
                                      โรงงานรับซื้อหม้อแบตเตอรี่เก่าเพื่อนำมมาหลอมใหม่<br>
                                      โรงงานผลิตโซดาแอช<br>
                                      โรงงานเกี่ยวกับหนังสัตว์<br>
                                      โรงงานฟอกหรือย้อมสี ด้ายหรือสิ่งทอ
                                      </p>
                                    </div>
                                  </div>
            
                                  <div class="col-lg-3 text-center text-lg-right mt-4 mt-lg-0">
                                    <div class="action-button">
                                    
                                    
                                    </div>
                                  </div>
                                </div>  	
                              </div>	
                            </div>
                          </div>
                        </div>	
                      </section>';
            
            }else if($fac == 'เขตประกอบการอุตสาหกรรมชัยนันท์-บางพลี พาร์คแลนด์ สมุทรปราการ'){
              $temp =  '<section class="post-grid section pt-0" style="padding:0px;">
                          <div class="container">
                            <div class="row">
                              <div class="col-12">
                                <!-- Call to action Community -->
                                <div class="cta-community shadow">
                                  <div class="row align-items-center">
                                    <div class="col-lg-1 text-center text-lg-left">
                                      <div class="content">
                                        <p>
                                        
                                        </p>
                                      </div>
                                    </div>
            
                                    <div class="col-lg-8 text-center text-lg-left">
                                      <div class="content">
                                        <p>
                                        ไม่มีข้อมูล
                                        </p>
                                      </div>
                                    </div>
            
                                    <div class="col-lg-3 text-center text-lg-right mt-4 mt-lg-0">
                                      <div class="action-button">
                                      
                                      
                                      </div>
                                    </div>
                                  </div>  	
                                </div>	
                              </div>
                            </div>
                          </div>	
                        </section>';    
                        
            }else if($fac == 'เขตประกอบการอุตสาหกรรมนวนคร นครราชสีมา'){
              $temp = '<section class="post-grid section pt-0" style="padding:0px;">
                        <div class="container">
                          <div class="row">
                            <div class="col-12">
                              <!-- Call to action Community -->
                              <div class="cta-community shadow">
                                <div class="row align-items-center">
                                  <div class="col-lg-1 text-center text-lg-left">
                                    <div class="content">
                                      <p>
                                      1.<br>
                                      2.<br><br><br><br>
                                      3.<br><br>
                                      4.<br>
                                      5.<br>
                                      6.<br>
                                      7.<br>
                                      8.<br>
                                      9.<br>
                                      10.<br>
                                      11.<br>
                                      12.<br>
                                      13.<br>
                                      14.
                                      </p>
                                    </div>
                                  </div>
            
                                  <div class="col-lg-8 text-center text-lg-left">
                                    <div class="content">
                                      <p>
                                      โรงงานผลิตกระดาษจากไม้ เศษผ้า หรือเส้นใย<br>
                                      โรงงานอุตสาหกรรมคลอ-แอลคาไลน์ (Chlor-Alkaline Industry) ที่ใช้โซเดียมคลอไรด์ (NaCI) เป็นวัตถุดิบในการผลิตโซเดียมคาร์บอเนต (Na2CO3) โซเดียมไฮดรอกไซต์ (NaOH) กรดไฮดรอลิก (HCI) คลอรีน (CI2) โซเดียมไฮโปคลอไรต์ (NaCOI) และปูนคลอรีน (Bleaching Powder) <br>
                                      โรงงานผลิตสารออกฤทธิ์ หรือสารที่ไว้ป้องกันหรือกำจัดศัตรูพืชหรือสัตว์ โดยกระบวนการทางเคมี<br>
                                      โรงงานผลิต ดัดแปลง ซ่อมแซมวัตถุระเบิด<br>
                                      โรงกลั่นปิโตรเลียมหรือโรงแยกก๊าซธรรมชาติ<br>
                                      โรงงานผลิตกระแสไฟฟ้า โดยใช้ถ่านหินเป็นเชื้อเพลิง <br>
                                      โรงงานผลิตซีเมนต์ <br>
                                      โรงงานผลิตโลหะขั้นมูลฐาน<br>
                                      โรงงานผลิตถ่านไฟฉายและแบตเตอรี่<br>
                                      โรงงานผลิตหลอดฟลูออเรสเซนส์<br>
                                      โรงงานรับซื้อหม้อแบตเตอรี่เก่า<br>
                                      โรงงานผลิตโซดาแอซ<br>
                                      โรงงานเกี่ยวกับหนังสัตว์ และฟอก/ย้อมสีขนสัตว์ <br>
                                      โรงงานฟอก และย้อมสีด้วยสิ่งทอ
                                      </p>
                                    </div>
                                  </div>
            
                                  <div class="col-lg-3 text-center text-lg-right mt-4 mt-lg-0">
                                    <div class="action-button">
                                    
                                    
                                    </div>
                                  </div>
                                </div>  	
                              </div>	
                            </div>
                          </div>
                        </div>	
                      </section>';  
            
            }else if($fac == 'เขตประกอบการอุตสาหกรรม จี.เค. แลนด์ ระยอง'){
              $temp = '<section class="post-grid section pt-0" style="padding:0px;">
                        <div class="container">
                          <div class="row">
                            <div class="col-12">
                              <!-- Call to action Community -->
                              <div class="cta-community shadow">
                                <div class="row align-items-center">
                                  <div class="col-lg-1 text-center text-lg-left">
                                    <div class="content">
                                      <p>
                                      
                                      </p>
                                    </div>
                                  </div>
            
                                  <div class="col-lg-8 text-center text-lg-left">
                                    <div class="content">
                                      <p>
                                      ไม่มีข้อมูล
                                      </p>
                                    </div>
                                  </div>
            
                                  <div class="col-lg-3 text-center text-lg-right mt-4 mt-lg-0">
                                    <div class="action-button">
                                    
                                    
                                    </div>
                                  </div>
                                </div>  	
                              </div>	
                            </div>
                          </div>
                        </div>	
                      </section>';  
            
            }else{
              $temp = '<section class="post-grid section pt-0" style="padding:0px;">
                        <div class="container">
                          <div class="row">
                            <div class="col-12">
                              <!-- Call to action Community -->
                              <div class="cta-community shadow">
                                <div class="row align-items-center">
                                  <div class="col-lg-1 text-center text-lg-left">
                                    <div class="content">
                                      <p>
                                      
                                      </p>
                                    </div>
                                  </div>
            
                                  <div class="col-lg-8 text-center text-lg-left">
                                    <div class="content">
                                      <p>
                                      ไม่มีข้อมูล
                                      </p>
                                    </div>
                                  </div>
            
                                  <div class="col-lg-3 text-center text-lg-right mt-4 mt-lg-0">
                                    <div class="action-button">
                                    
                                    
                                    </div>
                                  </div>
                                </div>  	
                              </div>	
                            </div>
                          </div>
                        </div>	
                      </section>';  
            }
            ?>


<body class="body-wrapper" data-spy="scroll" data-target=".privacy-nav">

    <nav class="navbar main-nav navbar-expand-lg px-2 px-sm-0 py-2 py-lg-0">
        <div class="container">
            <a class="navbar-brand" href="<?= $this->basePath('/') ?>"><img src="<?= $this->basePath('img/logo1.png') ?>" style="width: 64px;" alt="logo"></a><a class="navbar-brand" href="<?= $this->basePath('/') ?>"><img src="img/logo-text.png" style="width: 200px;" alt="logo"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="ti-menu"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item @@about">
                        <a class="nav-link" href="<?= $this->basePath('/') ?>">หน้าหลัก</a>
                    </li>
                    <li class="nav-item @@about">
                        <a class="nav-link" href="<?= $this->basePath('/news') ?>">ข่าวสาร</a>
                    </li>
                   		
                    <li class="nav-item dropdown ">
                      <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">ผลการศึกษา
                      <span><i class="ti-angle-down"></i></span>
                      </a>
                    <!-- Dropdown list -->
                    <ul class="dropdown-menu">
                      <li><a class="dropdown-item" href="<?= $this->basePath('/results') ?>">ผลการศึกษาปี 2564</a></li>
                    </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

<!--================================
=            Page Title            =
=================================-->
<section class="company-fun-facts section" style="padding-bottom: 0px;">
	<div class="container">
		<div class="row">
			
		</div>
		<div class="row">		
			<div class="col-lg-4 col-md-6">
				<div class="fun-fact">
					<!-- Icon -->
					<a href="<?= $this->basePath('/target?fac='.$fac) ?>">
					<i class="ti-target"></i>
					<h3>อุตสาหกรรมเป้าหมาย</h3>
					</a>
				</div>
			</div>
			
			<div class="col-lg-4 col-md-6">
				<div class="fun-fact">
					<!-- Icon -->
					<a href="<?= $this->basePath('/nontarget?fac='.$fac) ?>">
					<i class="ti-na"></i>
					<h3>อุตสาหกรรมห้ามตั้ง</h3>
					</a>
				</div>
			</div>
			<div class="col-lg-4 col-md-6">
				<div class="fun-fact">
					<!-- Icon -->
					<a href="<?= $this->basePath('/factory?fac='.$fac) ?>">
					<i class="ti-home"></i>
					<h3>โรงงานในเขตประกอบการ</h3>
					</a>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="section page-title">
	<div class="container">
		<div class="row">
			<div class="col-sm-8 m-auto">
				<!-- Page Title -->
				<h1>อุตสาหกรรมห้ามตั้ง</h1>
				<h4><?php echo $fac ?><h4>
				<!-- Page Description -->
				
			</div>
		</div>
	</div>
</section>

<!--====  End of Page Title  ====-->

<!--======================================
=            Featured Article            =
=======================================-->


<!--====  End of Featured Article  ====-->

					
          <?php
							echo $temp;
					?>
				


<!--============================
=            Footer            =
=============================-->
<footer>
	<div class="text-center bg-dark py-4">
	  <small class="text-secondary">Copyright &copy; <script>document.write(new Date().getFullYear())</script>. Designed &amp; Developed by <a href="http://www.fictgroup.com/" target="_blank">FICT Associate</a></small class="text-secondary">
	</div>
  
	  
  </footer>
  
  
	<!-- To Top -->
	<div class="scroll-top-to">
	  <i class="ti-angle-up"></i>
	</div>
	
	<!-- JAVASCRIPTS -->
	<script src="plugins/jquery/jquery.min.js"></script>
	<script src="plugins/bootstrap/bootstrap.min.js"></script>
	<script src="plugins/slick/slick.min.js"></script>
	<script src="plugins/fancybox/jquery.fancybox.min.js"></script>
	<script src="plugins/syotimer/jquery.syotimer.min.js"></script>
	<script src="plugins/aos/aos.js"></script>
	<!-- google map -->
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAgeuuDfRlweIs7D6uo4wdIHVvJ0LonQ6g"></script>
	<script src="plugins/google-map/gmap.js"></script>
	
	<script src="js/script.js"></script>
  
	<script>
	  // Get the modal
	  var modal = document.getElementById("myModal");
	  
	  // Get the image and insert it inside the modal - use its "alt" text as a caption
	  var img = document.getElementById("myImg");
	  var modalImg = document.getElementById("img01");
	  var captionText = document.getElementById("caption");
	  img.onclick = function(){
		modal.style.display = "block";
		modalImg.src = this.src;
		captionText.innerHTML = this.alt;
	  }
	  
	  // Get the <span> element that closes the modal
	  var span = document.getElementsByClassName("close")[0];
	  
	  // When the user clicks on <span> (x), close the modal
	  span.onclick = function() { 
		modal.style.display = "none";
	  }
	  </script>
  </body>

  
  </html>