<!-- 
THEME: Small Apps | Bootstrap App Landing Template
VERSION: 1.0.0
AUTHOR: Themefisher

HOMEPAGE: https://themefisher.com/products/small-apps-free-app-landing-page-template/
DEMO: https://demo.themefisher.com/small-apps/
GITHUB: https://github.com/themefisher/Small-Apps-Bootstrap-App-Landing-Template

Get HUGO Version : https://themefisher.com/products/small-apps-hugo-app-landing-theme/

WEBSITE: https://themefisher.com
TWITTER: https://twitter.com/themefisher
FACEBOOK: https://www.facebook.com/themefisher
-->

<!DOCTYPE html>
<html lang="en">

<head>

    <!-- Basic Page Needs
  ================================================== -->
    <meta charset="utf-8">
    <title>GIS กรมโรงงานอุตสาหกรรม</title>

    <!-- Mobile Specific Metas
  ================================================== -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Bootstrap App Landing Template">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=5.0">
    <meta name="author" content="Themefisher">
    <meta name="generator" content="Themefisher Small Apps Template v1.0">

    <!-- Favicon -->
    <!-- <link rel="shortcut icon" type="image/x-icon" href="images/favicon.png" /> -->

    <!-- PLUGINS CSS STYLE -->
    <link rel="stylesheet" href="plugins/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="plugins/themify-icons/themify-icons.css">
    <link rel="stylesheet" href="plugins/slick/slick.css">
    <link rel="stylesheet" href="plugins/slick/slick-theme.css">
    <link rel="stylesheet" href="plugins/fancybox/jquery.fancybox.min.css">
    <link rel="stylesheet" href="plugins/aos/aos.css">

    <!-- CUSTOM CSS -->
    <link href="css/style.css" rel="stylesheet">

    <style>
      
      #myImg {
        border-radius: 5px;
        cursor: pointer;
        transition: 0.3s;
      }
      
      #myImg:hover {opacity: 0.7;}
      
      /* The Modal (background) */
      .modal {
        display: none; /* Hidden by default */
        position: fixed; /* Stay in place */
        z-index: 1; /* Sit on top */
        padding-top: 100px; /* Location of the box */
        left: 0;
        top: 0;
        width: 100%; /* Full width */
        height: 100%; /* Full height */
        overflow: auto; /* Enable scroll if needed */
        background-color: rgb(0,0,0); /* Fallback color */
        background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
      }
      
      /* Modal Content (image) */
      .modal-content {
        margin: auto;
        display: block;
        width: 80%;
        max-width: 1200px;
      }
      
      /* Caption of Modal Image */
      #caption {
        margin: auto;
        display: block;
        width: 80%;
        max-width: 700px;
        text-align: center;
        color: #ccc;
        padding: 10px 0;
        height: 150px;
      }
      
      /* Add Animation */
      .modal-content, #caption {  
        -webkit-animation-name: zoom;
        -webkit-animation-duration: 0.6s;
        animation-name: zoom;
        animation-duration: 0.6s;
      }
      
      @-webkit-keyframes zoom {
        from {-webkit-transform:scale(0)} 
        to {-webkit-transform:scale(1)}
      }
      
      @keyframes zoom {
        from {transform:scale(0)} 
        to {transform:scale(1)}
      }
      
      /* The Close Button */
      .close {
        position: absolute;
        top: 15px;
        right: 35px;
        color: #f1f1f1;
        font-size: 40px;
        font-weight: bold;
        transition: 0.3s;
      }
      
      .close:hover,
      .close:focus {
        color: #bbb;
        text-decoration: none;
        cursor: pointer;
      }
      
      /* 100% Image Width on Smaller Screens */
      @media only screen and (max-width: 700px){
        .modal-content {
          width: 100%;
        }
      }
      </style>

</head>

<?php
$fac = $_GET['fac'];
if($fac == 'เขตประกอบการอุตสาหกรรมดับบลิวเอชเอ สระบุรี'){
  $temp = '<section class="post-grid section pt-0" style="padding:0px;">
            <div class="container">
              <div class="row">
                <div class="col-12">
                  <!-- Call to action Community -->
                  <div class="cta-community shadow">
                    <div class="row align-items-center">
                      <div class="col-lg-1 text-center text-lg-left">
                        <div class="content">
                          <p>
                          1.<br>
                          2.<br>
                          3.<br>
                          4.<br>
                          5.<br>
                          6.<br>
                          7.
                          </p>
                        </div>
                      </div>

                      <div class="col-lg-8 text-center text-lg-left">
                        <div class="content">
                          <p>
                          อุตสาหกรรมเกษตรกรรมและผลผลิตจากการเกษตร <br>
                          กลุ่มอุตสาหกรรมเซรามิคและโลหะขั้นกลาง/ขั้นปลาย  <br>
                          กลุ่มอุตสาหกรรมเบา <br>
                          อุตสาหกรรมผลิตผลิตภัณฑ์โลหะ เครื่องจักร และอุปกรณ์ขนส่ง <br>
                          อุตสาหกรรมอิเล็กทรอนิกส์และเครื่องใช้ไฟฟ้า <br>
                          อุตสาหกรรมเคมีภัณฑ์ กระดาษ และพลาสติก <br>
                          อุตสาหกรรมสนับสนุนการผลิต และอื่น ๆ 
                          </p>
                        </div>
                      </div>

                      <div class="col-lg-3 text-center text-lg-right mt-4 mt-lg-0">
                        <div class="action-button">
                        
                        
                        </div>
                      </div>
                    </div>  	
                  </div>	
                </div>
              </div>
            </div>	
          </section>';

}else if($fac == 'เขตประกอบการอุตสาหกรรมสยามอีสเทิร์นอินดัสเตรียลพาร์ค ระยอง'){
	$temp = '<section class="post-grid section pt-0" style="padding:0px;">
            <div class="container">
              <div class="row">
                <div class="col-12">
                  <!-- Call to action Community -->
                  <div class="cta-community shadow">
                    <div class="row align-items-center">
                      <div class="col-lg-1 text-center text-lg-left">
                        <div class="content">
                          <p>
                          1.<br>
                          2.<br>
                          3.<br>
                          4.<br>
                          5.<br>
                          6.
                          </p>
                        </div>
                      </div>

                      <div class="col-lg-8 text-center text-lg-left">
                        <div class="content">
                          <p>
                          โรงงานผลิตอะไหล่รถยนต์/รถยนต์ <br>
                          โรงงานผลิตผลิตภัณฑ์อิเลคทรอนิกส์-ไฟฟ้า <br>
                          โรงงานผลิตโลหะ/เครื่องกล<br>
                          โรงงานประกอบชิ้นส่วนเครื่องใช้ไฟฟ้า<br>
                          โรงงานบรรจุผลิตภัณฑ์<br>
                          โรงงานผลิตสิ่งทอ-เส้นใย-ผ้า	
                          </p>
                        </div>
                      </div>

                      <div class="col-lg-3 text-center text-lg-right mt-4 mt-lg-0">
                        <div class="action-button">
                        
                        
                        </div>
                      </div>
                    </div>  	
                  </div>	
                </div>
              </div>
            </div>	
          </section>';

}else if($fac == 'เขตประกอบการอุตสาหกรรมกบินทร์บุรี ปราจีนบุรี'){
  $temp = '<section class="post-grid section pt-0" style="padding:0px;">
            <div class="container">
              <div class="row">
                <div class="col-12">
                  <!-- Call to action Community -->
                  <div class="cta-community shadow">
                    <div class="row align-items-center">
                      <div class="col-lg-1 text-center text-lg-left">
                        <div class="content">
                          <p>
                          1.<br><br>
                          2.<br>
                          3.<br>
                          4.<br>
                          5.<br><br>
                          6.<br>
                          7.<br>
                          </p>
                        </div>
                      </div>

                      <div class="col-lg-8 text-center text-lg-left">
                        <div class="content">
                          <p>
                          กลุ่มอุตสาหกรรมผลิตอาหารสำเร็จรูป ที่นำผลผลิตทางการเกษตรและเนื้อสัตว์มาเป็นวัตถุดิบ ผ่านกระบวนการแปรรูปและถนอมอาหารเพื่อช่วยเก็บรักษาอาหารให้นานยิ่งขึ้น <br>
                          กลุ่มอุตสาหกรรมผลิตเสื้อผ้าสำเร็จรูป <br>
                          กลุ่มอุตสาหกรรมเครื่องหนัง <br>
                          กลุ่มอุตสาหกรรมชิ้นส่วนยานยนต์และแปรรูปโลหะ <br>
                          กลุ่มอุตสาหกรรมประกอบเครื่องใช้ไฟฟ้า/เครื่องใช้ในครัวเรือน นำชิ้นส่วนจากแหล่งอื่นมาประกอบในโรงงาน <br>
                          กลุ่มสายไฟฟ้า/ผลิตภัณฑ์พลาสติก <br>
                          อุตสาหกรรมอื่นๆ ที่ไม่จัดอยู่ในอุตสาหกรรมห้ามจัดตั้ง
                          </p>
                        </div>
                      </div>

                      <div class="col-lg-3 text-center text-lg-right mt-4 mt-lg-0">
                        <div class="action-button">
                        
                        
                        </div>
                      </div>
                    </div>  	
                  </div>	
                </div>
              </div>
            </div>	
          </section>';

}else if($fac == 'เขตประกอบการอุตสาหกรรมบริษัท ไออาร์พีซี จำกัด (มหาชน) ระยอง'){
  $temp = '<section class="post-grid section pt-0" style="padding:0px;">
            <div class="container">
              <div class="row">
                <div class="col-12">
                  <!-- Call to action Community -->
                  <div class="cta-community shadow">
                    <div class="row align-items-center">
                      <div class="col-lg-1 text-center text-lg-left">
                        <div class="content">
                          <p>
                          1.<br>
                          2.<br>
                          3.<br>
                          4.<br>
                          5.
                          </p>
                        </div>
                      </div>

                      <div class="col-lg-8 text-center text-lg-left">
                        <div class="content">
                          <p>
                          อุตสาหกรรมปิโตรเคมีขั้นต้น <br>
                          อุตสาหกรรมปิโตรเคมีขั้นกลาง <br>
                          อุตสาหกรรมปิโตรเคมีขั้นปลาย <br>
                          อุตสาหกรรมผลิตเหล็ก <br>
                          อุตสาหกรรมสนับสนุนการผลิต
                          </p>
                        </div>
                      </div>

                      <div class="col-lg-3 text-center text-lg-right mt-4 mt-lg-0">
                        <div class="action-button">
                        
                        
                        </div>
                      </div>
                    </div>  	
                  </div>	
                </div>
              </div>
            </div>	
          </section>';

}else if($fac == 'เขตประกอบการอุตสาหกรรมชัยนันท์-บางพลี พาร์คแลนด์ สมุทรปราการ'){
  $temp =  '<section class="post-grid section pt-0" style="padding:0px;">
              <div class="container">
                <div class="row">
                  <div class="col-12">
                    <!-- Call to action Community -->
                    <div class="cta-community shadow">
                      <div class="row align-items-center">
                        <div class="col-lg-1 text-center text-lg-left">
                          <div class="content">
                            <p>
                            1.<br><br>
                            2.<br>
                            3.<br>
                            4.<br>
                            5.<br>
                            6.<br><br>
                            </p>
                          </div>
                        </div>

                        <div class="col-lg-8 text-center text-lg-left">
                          <div class="content">
                            <p>
                            โรงงานผลิตชิ้นส่วนยานยนต์/อุปกรณ์ยานยนต์ อิเล็กทรอนิกส์/เครื่องยนต์/อุปกรณ์/ระบบของยานยนต์<br>
                            โรงงานผลิตอุปกรณ์อิเล็กทรอนิกส์/ชิ้นส่วนพื้นฐานอิเล็กทรอนิกส์ <br>
                            โรงงานประกอบทีวี วีดีโอ เครื่องเสียง <br>
                            โรงงานประกอบคอมพิวเตอร์ <br>
                            โรงงานประกอบนาฬิกา กล้องถ่ายรูป <br>
                            โรงงานบรรจุผลิตภัณฑ์ที่ผลิต และ/หรือประกอบ ซึ่งจะต้องจัดตั้งในพื้นที่ตามโซนที่กำหนดไว้เท่านั้น
                            </p>
                          </div>
                        </div>

                        <div class="col-lg-3 text-center text-lg-right mt-4 mt-lg-0">
                          <div class="action-button">
                          
                          
                          </div>
                        </div>
                      </div>  	
                    </div>	
                  </div>
                </div>
              </div>	
            </section>';    
            
}else if($fac == 'เขตประกอบการอุตสาหกรรมนวนคร นครราชสีมา'){
  $temp = '<section class="post-grid section pt-0" style="padding:0px;">
            <div class="container">
              <div class="row">
                <div class="col-12">
                  <!-- Call to action Community -->
                  <div class="cta-community shadow">
                    <div class="row align-items-center">
                      <div class="col-lg-1 text-center text-lg-left">
                        <div class="content">
                          <p>
                          1.<br><br>
                          2.<br><br>
                          3.<br><br>
                          4.<br><br><br>
                          5.<br>
                          6.<br><br><br><br>
                          </p>
                        </div>
                      </div>

                      <div class="col-lg-8 text-center text-lg-left">
                        <div class="content">
                          <p>
                          อุตสาหกรรมอิล็คทรอนิกส์ และเครื่องใช้ไฟฟ้าเป็นโรงงานที่ประกอบเครื่องใช้ไฟฟ้า อาทิ เช่น วิทยุ โทรทัศน์ หรือประกอบคอมพิวเตอร์ ตลอดจนการทำแผงวงจรและตัวไอซี <br>
                          อุตสาหกรรมประกอบยานยนต์และชิ้นส่วน เป็นโรงงานที่เน้นการประกอบยานยนต์ อาทิ ประเก็น ชุดน็อต อุปกรณ์ตกแต่งรถยนต์ เกียร์ เบาะ เข็มขัดนิรภัย เบรก ครัช <br>
                          อุตสาหกรรมอัญมณี เครื่องประดับ และสิ่งประดิษฐ์มีค่า อาทิ โรงเจียระไน และตัดเพชร โรงงานประกอบเข้าตัวเรือน หัวแหวน ไม่มีการชุบเคลือบโลหะ เน้นที่การประกอบตัวเรือน<br>
                          อุตสาหกรรมยาง พลาสติก สิ่งทอ วัสดุก่อสร้าง และเซรามิก โดยจะนำน้ำยางมาผลิตชิ้นงาน เพื่อป้อนอุตสาหกรรมต่อเนื่อง ส่วนพลาสติกเป็นอุตสาหกรรมผลิตบรรจุภัณฑ์สำหรับบรรจุอาหาร เครื่องใช้อุปโภค บริโภค ส่วนอุตสาหกรรมวัสดุก่อสร้างที่เกี่ยวกับเสาเข็ม กระเบื้องมุงหลังคา กระเบื้องปูพื้น ฉนวนกันความร้อน เซรามิก <br>
                          อุตสาหกรรมแช่แข็ง เป็นอุตสาหกรรมแช่แข็งอาหารสด ทั้งประเภทเนื้อสัตว์ พืช และผลไม้ <br>
                          อุตสาหกรรมเกษตรแปรรูปผลผลิตทางการเกษตร ทั้งที่เป็นอุตสาหกรรมแปรรูป อาหารสด ทั้งเนื้อสัตว์ และพืช ผลไม้ แปรรูปเพื่อป้อนอุตสาหกรรมต่อเนื่อง เช่น กุนเชียง อาหารกระป๋อง
                          </p>
                        </div>
                      </div>

                      <div class="col-lg-3 text-center text-lg-right mt-4 mt-lg-0">
                        <div class="action-button">
                        
                        
                        </div>
                      </div>
                    </div>  	
                  </div>	
                </div>
              </div>
            </div>	
          </section>';  

}else if($fac == 'เขตประกอบการอุตสาหกรรม จี.เค. แลนด์ ระยอง'){
  $temp = '<section class="post-grid section pt-0" style="padding:0px;">
            <div class="container">
              <div class="row">
                <div class="col-12">
                  <!-- Call to action Community -->
                  <div class="cta-community shadow">
                    <div class="row align-items-center">
                      <div class="col-lg-1 text-center text-lg-left">
                        <div class="content">
                          <p>
                          
                          </p>
                        </div>
                      </div>

                      <div class="col-lg-8 text-center text-lg-left">
                        <div class="content">
                          <p>
                          ไม่มีข้อมูล
                          </p>
                        </div>
                      </div>

                      <div class="col-lg-3 text-center text-lg-right mt-4 mt-lg-0">
                        <div class="action-button">
                        
                        
                        </div>
                      </div>
                    </div>  	
                  </div>	
                </div>
              </div>
            </div>	
          </section>';  

}else{
  $temp = '<section class="post-grid section pt-0" style="padding:0px;">
            <div class="container">
              <div class="row">
                <div class="col-12">
                  <!-- Call to action Community -->
                  <div class="cta-community shadow">
                    <div class="row align-items-center">
                      <div class="col-lg-1 text-center text-lg-left">
                        <div class="content">
                          <p>
                          
                          </p>
                        </div>
                      </div>

                      <div class="col-lg-8 text-center text-lg-left">
                        <div class="content">
                          <p>
                          ไม่มีข้อมูล
                          </p>
                        </div>
                      </div>

                      <div class="col-lg-3 text-center text-lg-right mt-4 mt-lg-0">
                        <div class="action-button">
                        
                        
                        </div>
                      </div>
                    </div>  	
                  </div>	
                </div>
              </div>
            </div>	
          </section>';  
}
?>


<body class="body-wrapper" data-spy="scroll" data-target=".privacy-nav">

    <nav class="navbar main-nav navbar-expand-lg px-2 px-sm-0 py-2 py-lg-0">
        <div class="container">
            <a class="navbar-brand" href="<?= $this->basePath('/') ?>"><img src="<?= $this->basePath('img/logo1.png') ?>" style="width: 64px;" alt="logo"></a><a class="navbar-brand" href="<?= $this->basePath('/') ?>"><img src="img/logo-text.png" style="width: 200px;" alt="logo"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="ti-menu"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item @@about">
                        <a class="nav-link" href="<?= $this->basePath('/') ?>">หน้าหลัก</a>
                    </li>
                    <li class="nav-item @@about">
                        <a class="nav-link" href="<?= $this->basePath('/news') ?>">ข่าวสาร</a>
                    </li>
                   		
                    <li class="nav-item dropdown ">
                      <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">ผลการศึกษา
                      <span><i class="ti-angle-down"></i></span>
                      </a>
                    <!-- Dropdown list -->
                    <ul class="dropdown-menu">
                      <li><a class="dropdown-item" href="<?= $this->basePath('/results') ?>">ผลการศึกษาปี 2564</a></li>
                    </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

<!--================================
=            Page Title            =
=================================-->
<section class="company-fun-facts section" style="padding-bottom: 0px;">
	<div class="container">
		<div class="row">
			
		</div>
		<div class="row">		
			<div class="col-lg-4 col-md-6">
				<div class="fun-fact">
					<!-- Icon -->
					<a href="<?= $this->basePath('/target?fac='.$fac) ?>">
					<i class="ti-target"></i>
					<h3>อุตสาหกรรมเป้าหมาย</h3>
					</a>
				</div>
			</div>
			
			<div class="col-lg-4 col-md-6">
				<div class="fun-fact">
					<!-- Icon -->
					<a href="<?= $this->basePath('/nontarget?fac='.$fac) ?>">
					<i class="ti-na"></i>
					<h3>อุตสาหกรรมห้ามตั้ง</h3>
					</a>
				</div>
			</div>
			<div class="col-lg-4 col-md-6">
				<div class="fun-fact">
					<!-- Icon -->
					<a href="<?= $this->basePath('/factory?fac='.$fac) ?>">
					<i class="ti-home"></i>
					<h3>โรงงานในเขตประกอบการ</h3>
					</a>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="section page-title">
	<div class="container">
		<div class="row">
			<div class="col-sm-8 m-auto">
				<!-- Page Title -->
				<h1>อุตสาหกรรมเป้าหมาย</h1>
				<h4><?php echo $fac ?><h4>
				<!-- Page Description -->
				
			</div>
		</div>
	</div>
</section>

<!--====  End of Page Title  ====-->

<!--======================================
=            Featured Article            =
=======================================-->


<!--====  End of Featured Article  ====-->

					
          <?php
							echo $temp;
					?>
				


<!--============================
=            Footer            =
=============================-->
<footer>
	<div class="text-center bg-dark py-4">
	  <small class="text-secondary">Copyright &copy; <script>document.write(new Date().getFullYear())</script>. Designed &amp; Developed by <a href="http://www.fictgroup.com/" target="_blank">FICT Associate</a></small class="text-secondary">
	</div>
  
	  
  </footer>
  
  
	<!-- To Top -->
	<div class="scroll-top-to">
	  <i class="ti-angle-up"></i>
	</div>
	
	<!-- JAVASCRIPTS -->
	<script src="plugins/jquery/jquery.min.js"></script>
	<script src="plugins/bootstrap/bootstrap.min.js"></script>
	<script src="plugins/slick/slick.min.js"></script>
	<script src="plugins/fancybox/jquery.fancybox.min.js"></script>
	<script src="plugins/syotimer/jquery.syotimer.min.js"></script>
	<script src="plugins/aos/aos.js"></script>
	<!-- google map -->
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAgeuuDfRlweIs7D6uo4wdIHVvJ0LonQ6g"></script>
	<script src="plugins/google-map/gmap.js"></script>
	
	<script src="js/script.js"></script>
  
	<script>
	  // Get the modal
	  var modal = document.getElementById("myModal");
	  
	  // Get the image and insert it inside the modal - use its "alt" text as a caption
	  var img = document.getElementById("myImg");
	  var modalImg = document.getElementById("img01");
	  var captionText = document.getElementById("caption");
	  img.onclick = function(){
		modal.style.display = "block";
		modalImg.src = this.src;
		captionText.innerHTML = this.alt;
	  }
	  
	  // Get the <span> element that closes the modal
	  var span = document.getElementsByClassName("close")[0];
	  
	  // When the user clicks on <span> (x), close the modal
	  span.onclick = function() { 
		modal.style.display = "none";
	  }
	  </script>
  </body>

  
  </html>