
<!-- Bootstrap Spinner Css -->
<link href="<?php echo $this->basePath();?>/template/plugins/jquery-spinner/css/bootstrap-spinner.css" rel="stylesheet">


<div class="row clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 table-xs-full">
        <div class="card">
            <div class="header">
                <a class="btn-back" href="javascript:window.history.back()"><i class="material-icons">keyboard_arrow_left</i></a>
                <h4>
                    <?=$this->translate('admin')?>
                </h4>
            </div>
            <div class="body table-responsive">
                <form>
                <div class="row justify-content-md-center">
                    <div class="col-sm-8"></div>
                    <div class="col-sm-4 offset-sm-4">

                        <div class="input-group">
                            <span class="input-group-addon">
                                <i class="material-icons">search</i>
                            </span>
                            <div class="form-line">
                                <input type="text" name="search" id="search" class="form-control" placeholder="<?=$this->translate('search')?>" value="<?php echo $this->search;?>">
                            </div>
                        </div>
                        
                    </div>
                </div>
                </form>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <!-- <th width="100">#</th> -->
                            <th><?=$this->translate('code')?></th>
                            <th><?=$this->translate('name')?></th>
                            <th><?=$this->translate('type')?></th>
                            <th><?=$this->translate('road')?></th>
                            <th width="50"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <?php 
                        $no = ($this->number * $this->page) - $this->number;
                        foreach ($this->paginator as $row) : 
                            $no++;
                        ?>
                        <tr>
                            <!-- <td>
                                <?php echo $no;?>
                            </td> -->
                            <td><?php echo $this->escapeHtml($row->station_code);?></td>
                            <td><?php echo $this->escapeHtml($row->station_name);?></td>
                            <td><?php echo $this->escapeHtml($row->station_type);?></td>
                            <td>
                                <?php echo $this->escapeHtml($row->station_road);?>
                            </td>
                            <th>
                                <ul class="header-dropdown m-r--5">
                                    <li class="dropdown">
                                        <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                            <i class="material-icons">more_vert</i>
                                        </a>
                                        <ul class="dropdown-menu pull-right">
                                            
                                            <li><a href="<?=$this->url('admin', ['action' => 'layer'], ['query' => ['id' => $row->station_id]])?>" class=" waves-effect waves-block"><i class="material-icons">layers</i> <?=$this->translate('layers')?></a></li>
                                            
                                        </ul>
                                    </li>
                                </ul>
                            </th>
                        </tr>
                        <?php endforeach; ?>
                    </tbody>
                </table>

                <?php
                echo $this->paginationControl(
                    $this->paginator,
                    'sliding',
                    'partial/paginator.phtml',
                    array(
                        'route' => 'station',
                        'search' => $this->search
                    )
                );
                ?>

            </div>
        </div>
    </div>
</div>


<!-- Sweetalert Css -->
    <link href="<?php echo $this->basePath('template/plugins/sweetalert/sweetalert.css');?>" rel="stylesheet" />

<!-- SweetAlert Plugin Js -->
<script src="<?php echo $this->basePath('template/plugins/sweetalert/sweetalert.min.js');?>"></script>

<!-- Jquery Spinner Plugin Js -->
<script src="<?php echo $this->basePath('template/plugins/jquery-spinner/js/jquery.spinner.js');?>"></script>

<script>

    function save(){
        var data = $('#fm-add').serialize();

        $.post('<?php echo $this->url('station', ['action' => 'add'])?>', data, function(res){

            // console.log(res);
            swal({
                title: "<?=$this->translate('added')?>!",
                text: "<?=$this->translate('your data has been added.')?>",
                type: "success",
                timer: 1000,
                showConfirmButton: false
            });
            setTimeout('location.reload();', 1000);
        });

    }


    function edit(id){
        $('#set-id').val(id);

        $.post('<?php echo $this->url('station', ['action' => 'getinfo'])?>', {'id': id}, function(res){

            var json = JSON.parse(res);

            // console.log(json);

            $('#grade_name').val(json.grade_name);
            $('#grade_detail').val(json.grade_detail);
            $('#grade_min').val(json.grade_min);
            $('#grade_max').val(json.grade_max);
            $('#grade_color').val(json.grade_color);
            
            $('.edit-colorpicker').colorpicker();

        });

    }

    function update(){

        var id = $('#set-id').val();

        var data = $('#fm-edit').serialize()+'&id='+id;

        // console.log(data);
        // return;

        $.post('<?php echo $this->url('station', ['action' => 'edit'])?>', data, function(res){
            // console.log(res);
            swal({
                title: "<?=$this->translate('updated')?>!",
                text: "<?=$this->translate('your data has been updated.')?>",
                type: "success",
                timer: 1000,
                showConfirmButton: false
            });
            setTimeout('location.reload();', 1000);
            
        });

    }

    function remove(id){

        swal({
            title: "<?=$this->translate('Are you sure')?>?",
            text: '<?=$this->translate('write "YES" for confirm delete')?>',
            type: "input",
            inputPlaceholder: "YES",
            showCancelButton: true,
            confirmButtonColor: "#DD6B55",
            confirmButtonText: "<?=$this->translate('yes, delete it!')?>",
            cancelButtonText: "<?=$this->translate('No, cancel plx!')?>",
            closeOnConfirm: false,
            closeOnCancel: false
        }, function (inputValue) {
            
            if (inputValue === false){
                //swal("Cancelled", "Your data is safe :)", "error");
                swal.close();
            }else{
                if (inputValue !== "YES") {
                    swal.showInputError('<?=$this->translate('You must write "YES" first.')?>'); return false
                }else{

                    $.post('<?php echo $this->url('station', ['action' => 'delete'])?>', {'id': id}, function(res){
                        // console.log(res);
                        
                        swal({
                            title: "<?=$this->translate('deleted');?>!",
                            text: "<?=$this->translate('your data has been deleted.');?>",
                            type: "success",
                            timer: 1000,
                            showConfirmButton: false
                        });
                        setTimeout('location.reload();', 500);
                        
                    });
                    
                }
            }
        });
        
    }

    $(function(){

        $('#search').focus();
    });

</script>
