<!-- Bootstrap Select Css -->
<link href="<?= $this->basePath('template/plugins/bootstrap-select/css/bootstrap-select.css') ?>" rel="stylesheet" />

<div class="card">
    <div class="header">
        <h2>
            <?= $this->translate('layers') ?>
            <small></small>
        </h2>
        <ul class="header-dropdown m-r--5 hidden-print">
            <li data-toggle="modal" data-target="#add-modal">
                <a href="javascript:void(0);" role="button" aria-haspopup="true" aria-expanded="false">
                    <i class="material-icons">add</i>
                </a>
            </li>
        </ul>
    </div>
    <div class="body">
        <form>
            <div class="row justify-content-md-center">
                <div class="col-sm-8"></div>
                <div class="col-sm-4 offset-sm-4">

                    <div class="input-group">
                        <span class="input-group-addon">
                            <i class="material-icons">search</i>
                        </span>
                        <div class="form-line">
                            <input type="text" name="search" id="search" class="form-control" placeholder="<?= $this->translate('search') ?>" value="<?php echo $this->search; ?>">
                        </div>
                    </div>

                </div>
            </div>
        </form>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th width="50">#</th>
                    <th><?= $this->translate('name') ?></th>
                    <th><?= $this->translate('type') ?></th>
                    <th><?= $this->translate('url') ?></th>
                    <th colspan="2"><?= $this->translate('order') ?></th>
                    <th width="50"></th>
                </tr>
            </thead>
            <tbody>
                <?php
                $no = 0;
                $group = '';
                foreach ($this->lists as $row) :
                    $no++;
                ?>

                    <?php
                    if ($group != $row['layer_group_name']) {
                        $group = $row['layer_group_name'];
                        $no = 1;
                    ?>
                        <tr>
                            <td colspan="7"><?= $row['layer_group_name'] ?></td>
                        </tr>
                    <?php
                    }
                    ?>


                    <tr>
                        <td>
                            <?php echo $no; ?>.
                        </td>
                        <td><?php echo $this->escapeHtml($row['layer_name']); ?></td>
                        <td><?php echo $this->escapeHtml($row['layer_type']); ?></td>
                        <td><?php echo $this->escapeHtml($row['layer_url']); ?></td>
                        <td>

                            <i class="material-icons" style="cursor: pointer;" onClick="sortUp(<?= $row['layer_id'] ?>)">keyboard_arrow_up</i>

                        </td>
                        <td>
                            <i class="material-icons" style="cursor: pointer;" onClick="sortDown(<?= $row['layer_id'] ?>)">keyboard_arrow_down</i>
                        </td>
                        <th>

                            <ul class="header-dropdown m-r--5">
                                <li class="dropdown">
                                    <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                        <i class="material-icons">more_vert</i>
                                    </a>
                                    <ul class="dropdown-menu pull-right">

                                        <li data-toggle="modal" data-target="#edit-modal"><a href="javascript:edit(<?= $row['layer_id'] ?>)" class=" waves-effect waves-block"><i class="material-icons">edit</i> <?= $this->translate('edit') ?></a></li>
                                        <li><a href="javascript:remove(<?= $row['layer_id'] ?>);" class=" waves-effect waves-block"><i class="material-icons">delete</i> <?= $this->translate('delete') ?></a></li>
                                        <?php
                                        if ($row['layer_type'] == 'Feature') {
                                        ?>
                                            <li><a href="javascript:attribute('<?= $row['layer_id'] ?>');" class=" waves-effect waves-block"><i class="material-icons">view_list</i> <?= $this->translate('popup attribute') ?></a></li>
                                        <?php
                                        }
                                        ?>
                                    </ul>
                                </li>
                            </ul>

                        </th>
                    </tr>
                <?php endforeach; ?>
            </tbody>
        </table>


    </div>
</div>

<form method="post" id="fm-add">
    <input type="hidden" name="action" value="add" />
    <div class="modal fade" id="add-modal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">

                <div class="modal-header">
                    <h4 class="modal-title"><?= $this->translate('add'); ?></h4>
                </div>
                <div class="modal-body">
                    <div class="row clearfix">

                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <select name="layer_group_id" class="form-control show-tick" required>
                                <option value="">-- Select group --</option>
                                <?php
                                foreach ($this->groupLayer as $row) {
                                ?>
                                    <option value="<?= $row['layer_group_id'] ?>"><?= $row['layer_group_name'] ?></option>
                                <?php
                                }
                                ?>
                            </select>
                        </div>

                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <select name="layer_type" class="form-control show-tick" required>
                                <option value="">-- Select type --</option>
                                <option value="Feature">Feature Layer</option>
                                <option value="FeatureCluster">Feature Cluster</option>
                                <option value="Map">Map Layer</option>
                                <option value="Imagery">Imagery Layer</option>
                            </select>
                        </div>

                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 m-t-20">
                            <div class="form-group form-float">
                                <div class="form-line">
                                    <input type="text" class="form-control" name="layer_name" required>
                                    <label class="form-label"><?= $this->translate('layer name'); ?></label>
                                </div>
                            </div>
                        </div>



                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="form-group form-float">
                                <div class="form-line">
                                    <input type="text" class="form-control" name="layer_url" required>
                                    <label class="form-label">url</label>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-success waves-effect font-upper"><?= $this->translate('save'); ?></button>
                    <button type="button" class="btn btn-link waves-effect font-upper" data-dismiss="modal"><?= $this->translate('close'); ?></button>
                </div>
            </div>
        </div>
    </div>
</form>

<form method="post" id="fm-edit">
    <div class="modal fade" id="edit-modal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">

                <div class="modal-header">
                    <h4 class="modal-title"><?= $this->translate('edit'); ?></h4>
                </div>
                <div class="modal-body">
                    <div class="row clearfix">

                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <select name="layer_group_id" id="layer_group_id" class="form-control show-tick" required>
                                <option value="">-- Select group --</option>
                                <?php
                                foreach ($this->groupLayer as $row) {
                                ?>
                                    <option value="<?= $row['layer_group_id'] ?>"><?= $row['layer_group_name'] ?></option>
                                <?php
                                }
                                ?>
                            </select>
                        </div>

                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <select name="layer_type" id="layer_type" class="form-control show-tick" required>
                                <option value="">-- Select type --</option>
                                <option value="Feature">Feature Layer</option>
                                <option value="FeatureCluster">Feature Cluster</option>
                                <option value="Map">Map Layer</option>
                                <option value="Imagery">Imagery Layer</option>
                            </select>
                        </div>

                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 m-t-20">
                            <div class="form-group form-float">
                                <div class="form-line focused">
                                    <input type="text" class="form-control" name="layer_name" id="layer_name" required>
                                    <label class="form-label"><?= $this->translate('layer name'); ?></label>
                                </div>
                            </div>
                        </div>



                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="form-group form-float">
                                <div class="form-line focused">
                                    <input type="text" class="form-control" name="layer_url" id="layer_url" required>
                                    <label class="form-label">url</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <input type="hidden" name="action" value="edit" />
                    <input type="hidden" name="layer_id" id="layer_id" value="" />

                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-success waves-effect font-upper"><?= $this->translate('save'); ?></button>
                    <button type="button" class="btn btn-link waves-effect font-upper" data-dismiss="modal"><?= $this->translate('close'); ?></button>
                </div>
            </div>
        </div>
    </div>
</form>

<form method="post" id="fm-attribute">

    <div class="modal fade" id="edit-attribute" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">

                <div class="modal-header">
                    <h4 class="modal-title"><?= $this->translate('edit'); ?></h4>
                </div>
                <div class="modal-body">
                    <div id="attribute-layer-box"></div>
                </div>
                <div class="modal-footer">
                    <button onClick="saveAttribure()" type="button" class="btn btn-success waves-effect font-upper"><?= $this->translate('save'); ?></button>
                    <button type="button" class="btn btn-link waves-effect font-upper" data-dismiss="modal"><?= $this->translate('close'); ?></button>
                </div>
            </div>
        </div>
    </div>
</form>

<!-- Select Plugin Js -->
<script src="<?= $this->basePath('template/plugins/bootstrap-select/js/bootstrap-select.js') ?>"></script>

<script>
    function edit(id) {
        $.post('<?= $this->url('admin', ['action' => 'layerinfo']) ?>', {
            layer_id: id,
        }, function(res) {
            // console.log(res);
            var json = JSON.parse(res);
            // console.log(json);
            $('#layer_id').val(json.layer_id);
            $('#layer_group_id').val(json.layer_group_id);
            $('#layer_type').val(json.layer_type);
            $('#layer_name').val(json.layer_name);
            $('#layer_url').val(json.layer_url);

            $('#layer_group_id').selectpicker('refresh');
            $('#layer_type').selectpicker('refresh');
        });
    }

    function sortUp(id) {
        $.post('<?= $this->url('admin', ['action' => 'layer']) ?>', {
            action: 'sort',
            layer_id: id,
            sort: 'up'
        }, function(res) {
            // console.log(res);
            window.location.reload();
        });
    }

    function sortDown(id) {
        $.post('<?= $this->url('admin', ['action' => 'layer']) ?>', {
            action: 'sort',
            layer_id: id,
            sort: 'down'
        }, function(res) {
            // console.log(res);
            window.location.reload();
        });
    }

    function remove(id) {
        var ans = confirm("ยืนยันการลบข้อมูล?");
        if (!ans) {
            return;
        }
        $.post('<?= $this->url('admin', ['action' => 'layer']) ?>', {
            action: 'remove',
            layer_id: id
        }, function(res) {
            // console.log(res);
            window.location.reload();
        });
    }

    function attribute(layerId) {

        // console.log(id);

        $.post('<?= $this->url('admin', ['action' => 'attribute']) ?>', {
            'layer_id': layerId
        }, function(res) {
            // console.log(res);
            var layer = JSON.parse(res);
            // console.log(layer);
            var url = layer.layer_url + '?f=pjson';
            var attribute = layer.layer_attribute;
            console.log(attribute);

            var attr = {};

            if (attribute != null) {
                attr = JSON.parse(attribute);
            }

            // console.log(attr);

            $.get(url, {}, function(res) {
                // console.log(res);
                var json = JSON.parse(res);

                // console.log(json.fields);

                var html = '<input type="hidden" name="layer_id" value="' + layerId + '"/>';
                html += '<table class="table">';
                html += '<tr>'
                html += '<th> <?= $this->translate('field'); ?> </th>';
                html += '<th> <?= $this->translate('display name'); ?> </th>';
                html += '<th> <?= $this->translate('visible'); ?> </th>';
                html += '</tr>';

                var fields = json.fields;

                for (var index in fields) {

                    var displayName = '';
                    if (attr !== null) {
                        if (typeof attr.name !== "undefined") {
                            displayName = eval('attr.name.' + fields[index].name);
                        }
                    }

                    var checked = '';
                    if (attr !== null) {
                        if (typeof attr.visible !== "undefined") {
                            var visible = eval('attr.visible.' + fields[index].name);

                            if (visible) {
                                checked = 'checked';
                            }
                        }
                    }

                    html += '<tr>'
                    html += '<td>' + fields[index].name + '</td>';
                    html += '<td><input name="attribute[name][' + fields[index].name + ']" class="form-control" type="text" value="' + displayName + '"/></td>';
                    html += '<td class="text-center">';

                    html += '<input name="attribute[visible][' + fields[index].name + ']" type="checkbox" value="1" ' + checked + ' id="' + fields[index].name + '" class="chk-col-light-blue"> <label for="' + fields[index].name + '"></label>';

                    html += '</td> ';
                    html += '</tr>';
                }

                html += '</table>';

                $('#attribute-layer-box').html(html);

                $('#edit-attribute').modal('show');

            });
        });

    }

    function saveAttribure() {
        var data = $('#fm-attribute').serialize();
        // console.log(data);

        $.post('<?= $this->url('admin', ['action' => 'saveattr']) ?>', data, function(res) {
            // console.log(res);
            $('#edit-attribute').modal('hide');
        });
    }
</script>