<!-- Bootstrap Select Css -->
<link href="<?= $this->basePath('template/plugins/bootstrap-select/css/bootstrap-select.css') ?>" rel="stylesheet" />

<div class="card">
    <div class="header">
        <h2>
            <?= $this->translate('permission'); ?>
            <small></small>
        </h2>
        <ul class="header-dropdown m-r--5 hidden-print">
            <li onclick="addUser()">
                <a href="javascript:void(0);" role="button" aria-haspopup="true" aria-expanded="false">
                    <i class="material-icons">add</i>
                </a>
            </li>
        </ul>
    </div>
    <div class="body">
        <form>
            <div class="row justify-content-md-center">
                <div class="col-sm-8"></div>
                <div class="col-sm-4 offset-sm-4">

                    <div class="input-group">
                        <span class="input-group-addon">
                            <i class="material-icons">search</i>
                        </span>
                        <div class="form-line">
                            <input type="text" name="search" id="search" class="form-control" placeholder="<?= $this->translate('search') ?>" value="<?php echo $this->search; ?>">
                        </div>
                    </div>

                </div>
            </div>
        </form>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th width="50">#</th>
                    <th><?= $this->translate('code') ?></th>
                    <th><?= $this->translate('user') ?></th>
                    <th><?= $this->translate('name') ?></th>
                    <th><?= $this->translate('สิทธิ์ในระบบ'); ?></th>
                    <th width="50"></th>
                </tr>
            </thead>
            <tbody>
                <?php
                $no = ($this->number * $this->page) - $this->number;
                foreach ($this->paginator as $row) :
                    $no++;
                ?>
                    <tr>
                        <td>
                            <?php echo $no; ?>
                        </td>
                        <td><?php echo $this->escapeHtml($row->user_code); ?></td>
                        <td><?php echo $this->escapeHtml($row->user_login); ?></td>
                        <td><?php echo $this->escapeHtml($row->user_name); ?></td>
                        <td><?php echo $this->escapeHtml($row->user_group_name); ?></td>
                        <th>

                            <ul class="header-dropdown m-r--5">
                                <li class="dropdown">
                                    <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                        <i class="material-icons">more_vert</i>
                                    </a>
                                    <ul class="dropdown-menu pull-right">

                                        <li data-toggle="modal" data-target="#edit-modal"><a href="javascript:editUser(<?= $row->user_id ?>)" class=" waves-effect waves-block"><i class="material-icons">edit</i> <?= $this->translate('edit') ?></a></li>
                                        <li><a href="javascript:removeUser(<?= $row->user_id ?>);" class=" waves-effect waves-block"><i class="material-icons">delete</i> <?= $this->translate('delete') ?></a></li>
                                    </ul>
                                </li>
                            </ul>

                        </th>
                    </tr>
                <?php endforeach; ?>
            </tbody>
        </table>

        <?php
        echo $this->paginationControl(
            $this->paginator,
            'sliding',
            'partial/paginator.phtml',
            array(
                'route' => 'admin',
                'action' => 'permission',
                'search' => $this->search
            )
        );
        ?>
    </div>
</div>

<form id="fm-user" onsubmit="saveUser();return false;">
    <div class="modal fade" id="user-modal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title"><?= $this->translate('edit'); ?></h4>
                </div>
                <div class="modal-body">

                    <div class="row clearfix">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="form-group form-float">
                                <div class="form-line">
                                    <input type="text" class="form-control" id="user-code" name="user_code" placeholder="<?= $this->translate('code'); ?>" required onchange="getUserInfo(this.value)">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row clearfix">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div id="userinfo-box"></div>
                        </div>
                    </div>


                    <div class="row clearfix">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 m-t-5">
                            <select id="user-group-id" name="user_group_id" class="form-control show-tick" required>
                                <option value="">-- Select group --</option>
                                <?php
                                foreach ($this->group as $row) {
                                ?>
                                    <option value="<?= $row['user_group_id'] ?>"><?= $row['user_group_name'] ?></option>
                                <?php
                                }
                                ?>
                            </select>
                        </div>
                    </div>


                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-success waves-effect font-upper"><?= $this->translate('save'); ?></button>
                    <button type="button" class="btn btn-link waves-effect font-upper" data-dismiss="modal"><?= $this->translate('close'); ?></button>
                </div>
            </div>
        </div>
    </div>
</form>

<!-- Select Plugin Js -->
<script src="<?= $this->basePath('template/plugins/bootstrap-select/js/bootstrap-select.js') ?>"></script>

<!-- Sweetalert Css -->
<link href="<?php echo $this->basePath('template/plugins/sweetalert/sweetalert.css'); ?>" rel="stylesheet" />

<!-- SweetAlert Plugin Js -->
<script src="<?php echo $this->basePath('template/plugins/sweetalert/sweetalert.min.js'); ?>"></script>


<script>
    var id;

    function getUserInfo(code) {

        $('#userinfo-box').html('');

        $.get('<?= $this->url('user', ['action' => 'userinfo']) ?>', {
            'code': code
        }, function(res) {

            console.log(res);
            var user = JSON.parse(res);

            if (typeof user.Login != 'undefined') {

                duplicate = user.duplicate;

                var html = '<div>รหัสผู้ใช้: ' + user.Login + '</div>';
                html += '<div>ชื่อ: ' + user.Name + '</div>';
                html += '<div>หน่วยงาน: ' + user.Org_Name + '(' + user.Org_Sname + ')' + '</div>';
                html += '<div>กลุ่มฝ่าย: ' + user.SOrg_Name + '</div>';
                html += '<div>ตำแหน่ง: ' + user.Pos_Name + '</div>';
                html += '<div>Email: ' + user.login_e + '</div>';

                html += '<input type="hidden" id="user-name" name="user_name" value="' + user.Name + '"/>';
                html += '<input type="hidden" id="user-login" name="user_login" value="' + user.Login + '"/>';
                html += '<input type="hidden" id="user-postion" name="user_position" value="' + user.Pos_Name + '"/>';
                html += '<input type="hidden" id="user-position" name="user_email" value="' + user.login_e + '"/>';

                $('#userinfo-box').html(html);

            } else {
                $('#userinfo-box').html('ไม่พบข้อมูล');
                duplicate = 0;
            }
        });

    }

    function addUser() {
        id = '';

        //reset form
        $('#user-code').val('');
        $('#user-name').val('');
        $('#user-login').val('');
        $('#user-position').val('');
        $('#user-password').val('');
        $('#confirm-password').val('');

        $('#user-password').prop('required', true);
        $('#confirm-password').prop('required', true);

        $('#male').prop('checked', true);

        $('#user-phone').val('');
        $('#user-email').val('');

        $('#user-group-id').val('');
        $('#user-group-id').selectpicker('refresh');

        $('#user-modal').modal("show");
        $(".modal-title").text("<?= $this->translate('add'); ?>");
    }

    var duplicate = 0;

    function saveUser() {

        // console.log(duplicate);
        // return;

        if (duplicate != '0') {
            alert('มีข้อมูลอยู่ในระบบแล้ว.');
            return;
        }

        var data = $('#fm-user').serialize();

        if (id) {
            data += '&user_id=' + id;
        }

        $.post('<?= $this->url('user', ['action' => 'addpermission']) ?>', data, function(res) {
            console.log(res);
            $('#user-modal').modal('hide');
            window.location.reload();

        });
    }

    function editUser(userId) {

        id = userId;

        $('#user-password').prop('required', false);
        $('#confirm-password').prop('required', false);
        $(".modal-title").text("<?= $this->translate('edit'); ?>");
        

        $.post('<?= $this->url('user', ['action' => 'info']) ?>', {
            'user_id': userId
        }, function(res) {
            // console.log(res);
            var json = JSON.parse(res);
            // console.log(json.user_group_id);

            $('#user-code').val(json.user_code);
            $('#user-name').val(json.user_name);
            $('#user-login').val(json.user_login);
            $('#user-position').val(json.user_position);

            if (json.user_gender == 'M') {
                $('#male').prop('checked', true);
            } else {
                $('#female').prop('checked', true);
            }

            $('#user-phone').val(json.user_phone);
            $('#user-email').val(json.user_email);

            $('#user-group-id').val(json.user_group_id);
            $('#user-group-id').selectpicker('refresh');

            $('#user-modal').modal('show');

        });

    }

    function removeUser(userId) {

        swal({
            title: "<?= $this->translate('Are you sure') ?>?",
            text: '<?= $this->translate('write "YES" for confirm delete') ?>',
            type: "input",
            inputPlaceholder: "YES",
            showCancelButton: true,
            confirmButtonColor: "#DD6B55",
            confirmButtonText: "<?= $this->translate('yes, delete it!') ?>",
            cancelButtonText: "<?= $this->translate('No, cancel plx!') ?>",
            closeOnConfirm: false,
            closeOnCancel: false
        }, function(inputValue) {

            if (inputValue === false) {
                //swal("Cancelled", "Your data is safe :)", "error");
                swal.close();
            } else {
                if (inputValue !== "YES") {
                    swal.showInputError('<?= $this->translate('You must write "YES" first.') ?>');
                    return false
                } else {

                    $.post('<?php echo $this->url('user', ['action' => 'delete']) ?>', {
                        'user_id': userId
                    }, function(res) {
                        // console.log(res);

                        swal({
                            title: "<?= $this->translate('deleted'); ?>!",
                            text: "<?= $this->translate('your data has been deleted.'); ?>",
                            type: "success",
                            timer: 1000,
                            showConfirmButton: false
                        });
                        setTimeout('location.reload();', 500);

                    });

                }
            }
        });

    }
</script>