﻿<!-- Bootstrap Select Css -->
<link href="<?= $this->basePath('template/plugins/bootstrap-select/css/bootstrap-select.css') ?>" rel="stylesheet" />

<div class="card">
    <div class="header">
        <h2>
            <?= $this->translate('Search'); ?>
            <small></small>
        </h2>
        <ul class="header-dropdown m-r--5 hidden-print">
            <li onclick="addReport()">
                <a href="javascript:void(0);" role="button" aria-haspopup="true" aria-expanded="false">
                    <i class="material-icons">add</i>
                </a>
            </li>
        </ul>
    </div>
    <div class="body">
        <form>
            <div class="row justify-content-md-center">
                <div class="col-sm-8"></div>
                <div class="col-sm-4 offset-sm-4">
                    <div class="input-group">
                        <span class="input-group-addon">
                            <i class="material-icons">search</i>
                        </span>
                        <div class="form-line">
                            <input type="text" name="search" id="search" class="form-control" placeholder="<?= $this->translate('search') ?>" value="<?php echo $this->search; ?>">
                        </div>
                    </div>
                </div>
            </div>
        </form>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th width="50">#</th>
                    <th><?= $this->translate('Name') ?></th>
                    <th><?= $this->translate('URL') ?></th>
                    <th><?= $this->translate('Field') ?></th>
                    <th><?= $this->translate('Placeholder') ?></th>
                    <th width="50"></th>
                </tr>
            </thead>
            <tbody>
                <?php
                
                $no = '';
                foreach ($this->f_search as $row) :
                    $no++;
                ?>
                    <tr>
                        <td>
                            <?php echo $no; ?>
                        </td>
                        <td><?php echo $this->escapeHtml($row['search_name']); ?></td>
                        <td><?php echo $this->escapeHtml($row['search_url']); ?></td>
                        <td><?php echo $this->escapeHtml($row['search_field']); ?></td>
                        <td><?php echo $this->escapeHtml($row['placeholder']); ?></td>
                        <th>
                            <ul class="header-dropdown m-r--5">
                                <li class="dropdown">
                                    <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                        <i class="material-icons">more_vert</i>
                                    </a>
                                    <ul class="dropdown-menu pull-right">
                                        <!-- <li data-toggle="modal" data-target="#edit-modal"><a href="javascript:editReport(<?= $row['search_id'] ?>)" class="waves-effect waves-block"><i class="material-icons">edit</i> <?= $this->translate('edit') ?></a></li> -->
                                        <li><a href="javascript:removeReport(<?= $row['search_id'] ?>);" class="waves-effect waves-block"><i class="material-icons">delete</i> <?= $this->translate('delete') ?></a></li>
                                    </ul>
                                </li>
                            </ul>
                        </th>
                    </tr>
                <?php endforeach; ?>
            </tbody>
        </table>
    </div>
</div>

<form id="fm-search" onsubmit="saveSearch();return false;">
    <div class="modal fade" id="search-modal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title"><?= $this->translate('add'); ?></h4>
                </div>
                <div class="modal-body">
                    <div class="row clearfix">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="form-group form-float">
                                <div class="form-line">
                                    <input type="text" class="form-control" id="search-name" name="search_name" placeholder="<?= $this->translate('name'); ?>" required>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row clearfix">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="form-group form-float">
                                <div class="form-line">
                                    <input type="text" class="form-control" id="search-url" name="search_url" placeholder="<?= $this->translate('link'); ?>" required>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row clearfix">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="form-group form-float">
                                <div class="form-line">
                                    <input type="text" class="form-control" id="search-field" name="search_field" placeholder="<?= $this->translate('field'); ?>" required>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row clearfix">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="form-group form-float">
                                <div class="form-line">
                                    <input type="text" class="form-control" id="search-placeholder" name="placeholder" placeholder="<?= $this->translate('placeholder'); ?>" required>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- ... -->

                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-success waves-effect font-upper"><?= $this->translate('save'); ?></button>
                    <button type="button" class="btn btn-link waves-effect font-upper" data-dismiss="modal"><?= $this->translate('close'); ?></button>
                </div>
            </div>
        </div>
    </div>
</form>

<!-- Select Plugin Js -->
<script src="<?= $this->basePath('template/plugins/bootstrap-select/js/bootstrap-select.js') ?>"></script>

<!-- Sweetalert Css -->
<link href="<?php echo $this->basePath('template/plugins/sweetalert/sweetalert.css'); ?>" rel="stylesheet" />

<!-- SweetAlert Plugin Js -->
<script src="<?php echo $this->basePath('template/plugins/sweetalert/sweetalert.min.js'); ?>"></script>

<script>
    var id;

    function addReport() {
        id = '';

        // Reset form
        $('#search-name').val('');
        $('#search-link').val('');
        // ...

        $('#search-modal').modal("show");
        $(".modal-title").text("<?= $this->translate('add'); ?>");
    }

    function saveSearch() {
        var data = $('#fm-search').serialize();

        if (id) {
            data += '&search_id=' + id;
        }

        // Additional code to post the data and handle the response
        // You need to implement AJAX post request here to send data to the server-side

        $.post('<?= $this->url('report', ['action' => 'addSearch']) ?>', data, function(res) {
            // Code to handle the response (e.g., refresh the table or display a success message)
            // ...

            $('#search-modal').modal('hide');
            window.location.reload();
        });
    }
    function editReport(searchId) {
    id = searchId;

    // Load report data from the server using AJAX
    $.post('<?= $this->url('report', ['action' => 'add']) ?>', {
        'search_id': searchId
    }, function(res) {
        console.log(res);
        // Code to populate the form with the report data
        var json = JSON.parse(res);
        $('#search-name').val(json.report_name);
        $('#search-link').val(json.report_link);
        // ...

        $('#search-modal').modal('show');
        $(".modal-title").text("<?= $this->translate('edit'); ?>");
    });
}

function removeReport(searchId) {
    swal({
        title: "<?= $this->translate('Are you sure?') ?>",
        text: "<?= $this->translate('This action cannot be undone.') ?>",
        type: "warning",
        showCancelButton: true,
        confirmButtonColor: "#DD6B55",
        confirmButtonText: "<?= $this->translate('Yes, delete it!') ?>",
        cancelButtonText: "<?= $this->translate('No, cancel') ?>",
        closeOnConfirm: false,
        closeOnCancel: false
    }, function(isConfirmed) {
        if (isConfirmed) {
            // Make an AJAX request to remove the report with the given searchId
            $.post('<?= $this->url('report', ['action' => 'deleteSearch']) ?>', {
                'search_id': searchId
            }, function(res) {
                // Handle the response from the server
                // In this example, I'm using SweetAlert to show success message
                swal({
                    title: "<?= $this->translate('Deleted!') ?>",
                    text: "<?= $this->translate('Your data has been deleted.') ?>",
                    type: "success",
                    timer: 1000,
                    showConfirmButton: false
                });
                // Reload the page or update the table after successful deletion
                window.location.reload();
            }).fail(function(error) {
                // Handle the error if the request fails
                swal("<?= $this->translate('Error') ?>", "<?= $this->translate('An error occurred while deleting the report.') ?>", "error");
            });
        } else {
            swal("<?= $this->translate('Cancelled') ?>", "<?= $this->translate('Your data is safe.') ?>", "error");
        }
    });
}

</script>
